@import 'common';

:host {
  display: grid;
  justify-content: space-between;
  @include grid-container-align-items(center);
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 1em;

  > div.hints {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > span.implicit {
      font-weight: bold;
      @include chip(primaryColor(), null, primaryColor(), dotted);
    }

    > span.not-handled {
      font-weight: bold;
      @include chip(rgba(255, 0, 0, .75), rgba(255, 0, 0, .1), rgba(255, 0, 0, .75));
    }
  }
}
