@import 'ɵtoolkit-widget-theme';

:host {
  display: flex;
  flex-direction: column;

  &:not(.open) {
    // floating action button
    position: absolute; // positioning context is the parent component
    bottom: 1.5em;
    padding-right: 1.5em;
    width: 100%;

    > button.panel-open {
      align-self: flex-end;
      background: accentColor(.5);
      color: #FFFFFF;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

      &:hover, &:active, &:focus {
        background: accentColor(.75);
      }
    }
  }

  > div.panel {
    display: flex;
    flex-direction: column;

    > header {
      @include button-bar();
      flex: none;
      border: 1px solid rgba(85, 85, 85, 0.25);

      > span.title {
        flex: auto; // flex-layout given by the button-bar mixin
        font-weight: bold;
      }
    }

    > sci-viewport {
      flex: auto;
      height: 200px;
      border: 1px solid rgba(85, 85, 85, 0.25);
      border-top: none;

      section.log {
        padding: 1em;
        display: grid;
        grid-template-columns: 100px 100px 1fr;
        grid-auto-rows: max-content;
        gap: .5em 1em;
        font-family: monospace;
        font-size: .9em;
      }
    }
  }
}
