<form [formGroup]="form">
  <sci-form-field label="Perspective Qualifier">
    <sci-key-value-field [keyValueFormArray]="form.controls.perspectiveQualifier" [addable]="true" [removable]="true" class="e2e-perspective-qualifier"/>
  </sci-form-field>

  <sci-form-field label="Views">
    <div class="properties">
      <!-- qualifier -->
      <span>Qualifier</span>
      <!-- partId -->
      <span>PartId</span>
      <!-- position -->
      <span>Position</span>
      <!-- active -->
      <span>Active</span>

      <div class="actions">
        <!-- add button -->
        <button (click)="onAddView()" class="e2e-add" title="Add entry" sciMaterialIcon>add</button>
        <!-- remove button -->
        <button (click)="onClearViews()" class="e2e-clear" title="Clear all entries" sciMaterialIcon>clear</button>
      </div>

      <ng-container *ngFor="let viewsGroup of form.controls.views.controls; index as i;">
        <!-- qualifier -->
        <sci-key-value-field [keyValueFormArray]="viewsGroup.controls.qualifier" [addable]="true" [removable]="true" class="e2e-perspective-view-qualifier"/>
        <!-- partId -->
        <input [formControl]="viewsGroup.controls.partId" class="e2e-perspective-view-part-id">
        <!-- position -->
        <input [formControl]="viewsGroup.controls.position" type="number" class="e2e-perspective-view-position">
        <!-- active -->
        <sci-checkbox [formControl]="viewsGroup.controls.active" class="e2e-perspective-view-active"/>
        <!-- 'remove' button -->
        <button class="e2e-remove" (click)="onRemoveView(i)" title="remove entry" sciMaterialIcon>remove</button>
      </ng-container>
    </div>
  </sci-form-field>
</form>
