@import 'common';

:host {
  display: flex;
  padding: app-padding();

  > sci-accordion {
    flex: auto;

    div.message {
      font-size: .8em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

