:host {
  display: flex;
  flex-direction: column;
  gap: 1em;

  > section {
    display: flex;
    flex-direction: column;
    gap: 1em;

    > sci-form-field.instance-id span {
      font-family: monospace;
    }
  }
}
