<form [formGroup]="form">
  <section>
    <sci-form-field label="Qualifier">
      <sci-params-enter [paramsFormArray]="form.controls.qualifier" [addable]="true" [removable]="true" class="e2e-qualifier"></sci-params-enter>
    </sci-form-field>

    <sci-form-field label="Params">
      <sci-params-enter [paramsFormArray]="form.controls.params" [addable]="true" [removable]="true" class="e2e-params"></sci-params-enter>
    </sci-form-field>

    <sci-form-field label="Contextual View ID">
      <input [formControl]="form.controls.contextualViewId" class="e2e-contextual-view-id" placeholder="Reference to the view to bind this popup to; can be <default>, <null>, or a view id">
    </sci-form-field>

    <sci-form-field label="Align">
      <select [formControl]="form.controls.align" class="e2e-align">
        <option value="east">east</option>
        <option value="west">west</option>
        <option value="north">north</option>
        <option value="south">south</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="CSS Class(es)">
      <input [formControl]="form.controls.cssClass" class="e2e-class" placeholder="Separate multiple CSS classes by space">
    </sci-form-field>
  </section>

  <sci-accordion class="anchor e2e-anchor" variant="solid" [formGroup]="form.controls.anchor">
    <ng-template sciAccordionItem [panel]="panel_anchor">
      <header>Anchor</header>
    </ng-template>
    <ng-template #panel_anchor>
      <sci-form-field label="Position">
        <select [formControl]="form.controls.anchor.controls.position" class="e2e-position">
          <option value="element">Element</option>
          <option value="top-left">Coordinate (top-left)</option>
          <option value="top-right">Coordinate (top-right)</option>
          <option value="bottom-left">Coordinate (bottom-left)</option>
          <option value="bottom-right">Coordinate (bottom-right)</option>
        </select>
      </sci-form-field>
      <ng-container *ngIf="form.controls.anchor.controls.position.value !== 'element'">
        <sci-form-field [label]="$any(form.controls.anchor.controls.position.value) | wbPopupPositionLabel:'vertical'">
          <input [formControl]="form.controls.anchor.controls.verticalPosition" type="number" class="e2e-position-vertical">
        </sci-form-field>
        <sci-form-field [label]="$any(form.controls.anchor.controls.position.value) | wbPopupPositionLabel:'horizontal'">
          <input [formControl]="form.controls.anchor.controls.horizontalPosition" type="number" class="e2e-position-horizontal">
        </sci-form-field>
        <sci-form-field label="Width">
          <input [formControl]="form.controls.anchor.controls.width" type="number" class="e2e-anchor-width">
        </sci-form-field>
        <sci-form-field label="Height">
          <input [formControl]="form.controls.anchor.controls.height" type="number" class="e2e-anchor-height">
        </sci-form-field>
      </ng-container>
    </ng-template>
  </sci-accordion>

  <sci-accordion [formGroup]="form.controls.closeStrategy" variant="solid" class="e2e-close-strategy">
    <ng-template sciAccordionItem [panel]="panel_close_strategy">
      <header>Close Strategy</header>
    </ng-template>
    <ng-template #panel_close_strategy>
      <sci-form-field label="onFocusLost">
        <sci-checkbox [formControl]="form.controls.closeStrategy.controls.onFocusLost" class="e2e-close-on-focus-lost"></sci-checkbox>
      </sci-form-field>

      <sci-form-field label="onEscape">
        <sci-checkbox [formControl]="form.controls.closeStrategy.controls.onEscape" class="e2e-close-on-escape"></sci-checkbox>
      </sci-form-field>
    </ng-template>
  </sci-accordion>
</form>

<button (click)="onPopupOpen()" class="open e2e-open" [disabled]="form.invalid" #open_button>
  Open popup
</button>

<output class="return-value e2e-return-value" *ngIf="returnValue">
  {{returnValue}}
</output>

<output class="popup-error e2e-popup-error" *ngIf="popupError">
  {{popupError}}
</output>
