<form autocomplete="off" [formGroup]="form">
  <section>
    <header>Routing Command</header>

    <sci-form-field label="Path">
      <app-router-commands [formControl]="form.controls.commands"/>
    </sci-form-field>
  </section>

  <section>
    <header>Navigation Extras</header>

    <sci-form-field label="Target">
      <input [formControl]="form.controls.extras.controls.target" class="e2e-target" [attr.list]="targetList">
      <datalist [attr.id]="targetList">
        <option value="auto">auto</option>
        <option value="blank">blank</option>
      </datalist>
    </sci-form-field>

    <sci-form-field label="Hint">
      <input [formControl]="form.controls.extras.controls.hint" class="e2e-hint">
    </sci-form-field>

    <sci-form-field label="Part ID">
      <input [formControl]="form.controls.extras.controls.partId" class="e2e-part-id" [attr.list]="partList">
      <datalist [attr.id]="partList">
        @for (part of workbenchService.parts(); track part.id) {
          <option [value]="part.id">{{part.id}}</option>
        }
      </datalist>
    </sci-form-field>

    <sci-form-field label="Position">
      <input [formControl]="form.controls.extras.controls.position" [attr.list]="positionList" class="e2e-position">
      <datalist [attr.id]="positionList">
        <option value="start">
        <option value="end">
        <option value="before-active-view">
        <option value="after-active-view">
      </datalist>
    </sci-form-field>

    <sci-form-field label="Data">
      <sci-key-value-field [keyValueFormArray]="form.controls.extras.controls.data" [addable]="true" [removable]="true" class="e2e-data"/>
    </sci-form-field>

    <sci-form-field label="State">
      <sci-key-value-field [keyValueFormArray]="form.controls.extras.controls.state" [addable]="true" [removable]="true" class="e2e-state"/>
    </sci-form-field>

    <sci-form-field label="Query parameters">
      <sci-key-value-field [keyValueFormArray]="form.controls.extras.controls.queryParams" [addable]="true" [removable]="true" class="e2e-query-params"/>
    </sci-form-field>

    <sci-form-field label="Fragment">
      <input [formControl]="form.controls.extras.controls.fragment" class="e2e-fragment">
    </sci-form-field>

    <sci-form-field label="Activate">
      <sci-checkbox [formControl]="form.controls.extras.controls.activate" class="e2e-activate"/>
    </sci-form-field>

    <sci-form-field label="Close">
      <sci-checkbox [formControl]="form.controls.extras.controls.close" class="e2e-close"/>
    </sci-form-field>

    <sci-form-field label="Root Injector" title="Controls whether to navigate inside root injection context (only relevant if navigating via router link)">
      <sci-checkbox [formControl]="form.controls.rootContext" class="e2e-root-context"/>
    </sci-form-field>

    <sci-form-field label="CSS Class(es)">
      <app-multi-value-input [formControl]="form.controls.extras.controls.cssClass" [placeholder]="'class-1 class-2'" class="e2e-class"/>
    </sci-form-field>
  </section>

  <button (click)="onRouterNavigate()" class="e2e-router-navigate" [disabled]="form.invalid" sci-primary>
    Navigate via Router
  </button>

  <ng-container *ngTemplateOutlet="router_link; injector: form.controls.rootContext.value ? nullContextInjector : null"/>
  <ng-template #router_link>
    <!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
    <!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
    <a [wbRouterLink]="form.controls.commands.value"
       [wbRouterLinkExtras]="extras"
       (click)="onRouterLinkNavigate()"
       class="e2e-router-link-navigate">
      Navigate via Router Link
    </a>
    <!-- eslint-enable -->
  </ng-template>

  @if (navigateError) {
    <output class="navigate-error e2e-navigate-error">
      {{navigateError}}
    </output>
  }
</form>
