:host {
  display: grid;

  > form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    > sci-accordion {
      header {
        font-weight: bold;
      }

      &.message-box-capability sci-viewport {
        max-height: 200px;
        max-width: 220px;

        div.capability {
          white-space: pre;
          font-family: monospace;
        }
      }
    }
  }
}
