<section>
  <sci-form-field label="View ID">
    <span class="e2e-view-id">{{view.id}}</span>
  </sci-form-field>

  <sci-form-field label="Part ID">
    <span class="e2e-part-id">{{view.part.id}}</span>
  </sci-form-field>

  <sci-form-field label="Component Instance" title="Unique identifier of this component instance">
    <span class="e2e-component-instance-id">{{uuid}}</span>
  </sci-form-field>

  <sci-form-field label="Path">
    <span>{{view.urlSegments | appJoin:'/'}}</span>
  </sci-form-field>
</section>

<sci-accordion class="e2e-params" variant="solid" *ngIf="route.params | async | appNullIfEmpty as params">
  <ng-template sciAccordionItem [panel]="panel_route_params">
    <header>Route Params</header>
  </ng-template>
  <ng-template #panel_route_params>
    <sci-key-value [object]="params | appAppendParamDataType" class="e2e-params"></sci-key-value>
  </ng-template>
</sci-accordion>

<sci-accordion class="e2e-state" variant="solid" *ngIf="view.state | appNullIfEmpty as state">
  <ng-template sciAccordionItem [panel]="panel_view_state">
    <header>View State</header>
  </ng-template>
  <ng-template #panel_view_state>
    <sci-key-value [object]="state | appAppendParamDataType" class="e2e-state"></sci-key-value>
  </ng-template>
</sci-accordion>

<section>
  <header>View Properties</header>

  <sci-form-field label="Title">
    <input [(ngModel)]="view.title" class="e2e-title">
  </sci-form-field>

  <sci-form-field label="Heading">
    <input [(ngModel)]="view.heading" class="e2e-heading">
  </sci-form-field>

  <sci-form-field label="Dirty">
    <sci-checkbox [(ngModel)]="view.dirty" class="e2e-dirty"></sci-checkbox>
  </sci-form-field>

  <sci-form-field label="Closable">
    <sci-checkbox [(ngModel)]="view.closable" class="e2e-closable"></sci-checkbox>
  </sci-form-field>

  <sci-form-field label="CSS Class(es)">
    <input [formControl]="cssClassFormControl" class="e2e-css-class" placeholder="Separate multiple CSS classes by space">
  </sci-form-field>
</section>

<sci-accordion class="e2e-view-actions" variant="solid">
  <ng-template sciAccordionItem [panel]="panel_view_actions">
    <header>View Actions</header>
  </ng-template>
  <ng-template #panel_view_actions>
    <button (click)="view.close()" class="e2e-close">Close</button>
  </ng-template>
</sci-accordion>

<sci-accordion class="e2e-part-actions part-actions" variant="solid">
  <ng-template sciAccordionItem [panel]="panel_part_actions">
    <header>Part Actions</header>
  </ng-template>
  <ng-template #panel_part_actions>
    <input class="e2e-part-actions"
           [formControl]="partActionsFormControl"
           placeholder='Enter action(s) as JSON array: [{"content":"...","align":"end","cssClass":"e2e-open-in-new"}]'>
  </ng-template>
</sci-accordion>

<ng-template wbPartAction
             *ngFor="let action of partActions$ | async"
             [align]="action.align"
             [cssClass]="action.cssClass">
  {{action.content}}
</ng-template>
