@use '@scion/components.internal/design' as sci-design;

:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  > sci-toolbar {
    background-color: var(--sci-color-gray-100);
    height: 30px;
    padding: .25em;
    border-top: 1px solid var(--sci-color-border);
    border-bottom: 1px solid var(--sci-color-border);
    box-sizing: content-box;
    margin: 0 -1em;
  }

  > sci-menubar {
    background-color: var(--sci-color-gray-100);
    height: 25px;
    padding: .25em;
    border-top: 1px solid var(--sci-color-border);
    border-bottom: 1px solid var(--sci-color-border);
    box-sizing: content-box;
    margin: 0 -1em;
  }

  > div.context-menu {
    border: 1px solid var(--sci-color-border);
    border-radius: var(--sci-corner);
    padding: .5em;
    background-color: var(--sci-color-gray-100);
    cursor: default;
  }

  > main {
    display: flex;
    gap: 1em;

    > sci-toolbar {
      flex: none;
      width: 30px;
      padding: .25em;
      border-top: 1px solid var(--sci-color-border);
      border-bottom: 1px solid var(--sci-color-border);
      border-right: 1px solid var(--sci-color-border);
      box-sizing: content-box;
      background-color: var(--sci-color-gray-100);
      margin-left: -1em;
    }

    > div.view-content {
      flex: auto;

      > section {
        display: flex;
        flex-direction: column;
        gap: .5em;
        border: 1px solid var(--sci-color-border);
        border-radius: var(--sci-corner);
        padding: 1em;

        > header {
          margin-bottom: 1em;
          font-weight: bold;
        }
      }

      > sci-accordion {
        header {
          font-weight: bold;
        }

        &.part-actions input {
          @include sci-design.style-input-field();
        }
      }
    }
  }
}
