<section>
  <sci-form-field label="View ID">
    <span class="e2e-view-id">{{view.viewId}}</span>
  </sci-form-field>

  <sci-form-field label="Part ID">
    <span class="e2e-part-id">{{uuid}}</span>
  </sci-form-field>

  <sci-form-field label="Component Instance" title="Unique identifier of this component instance">
    <span class="e2e-component-instance-id">{{uuid}}</span>
  </sci-form-field>
</section>

<sci-accordion class="e2e-route-params" variant="solid" *ngIf="route.params | async | wbNullIfEmpty as params">
  <ng-template sciAccordionItem [panel]="panel_route_params">
    <header>Route Params</header>
  </ng-template>
  <ng-template #panel_route_params>
    <sci-property [properties]="params" class="e2e-route-params"></sci-property>
  </ng-template>
</sci-accordion>

<sci-accordion class="e2e-route-query-params" variant="solid" *ngIf="route.queryParams | async | wbNullIfEmpty as params">
  <ng-template sciAccordionItem [panel]="panel_route_query_params">
    <header>Route Query Params</header>
  </ng-template>
  <ng-template #panel_route_query_params>
    <sci-property [properties]="params" class="e2e-route-query-params"></sci-property>
  </ng-template>
</sci-accordion>

<sci-accordion class="e2e-navigational-state" variant="solid" *ngIf="route.data | async | wbPluck:WB_STATE_DATA as state">
  <ng-template sciAccordionItem [panel]="panel_navigational_state">
    <header>Navigational State</header>
  </ng-template>
  <ng-template #panel_navigational_state>
    <sci-property [properties]="state" class="e2e-navigational-state"></sci-property>
  </ng-template>
</sci-accordion>

<section>
  <header>View Properties</header>

  <sci-form-field label="Title">
    <input [(ngModel)]="view.title" class="e2e-title">
  </sci-form-field>

  <sci-form-field label="Heading">
    <input [(ngModel)]="view.heading" class="e2e-heading">
  </sci-form-field>

  <sci-form-field label="Dirty">
    <sci-checkbox [(ngModel)]="view.dirty" class="e2e-dirty"></sci-checkbox>
  </sci-form-field>

  <sci-form-field label="Closable">
    <sci-checkbox [(ngModel)]="view.closable" class="e2e-closable"></sci-checkbox>
  </sci-form-field>

  <sci-form-field label="Blocked">
    <sci-checkbox [(ngModel)]="view.blocked" class="e2e-blocked"></sci-checkbox>
  </sci-form-field>
</section>

<sci-accordion class="e2e-view-actions" variant="solid">
  <ng-template sciAccordionItem [panel]="panel_view_actions">
    <header>View Actions</header>
  </ng-template>
  <ng-template #panel_view_actions>
    <button (click)="view.close()" class="e2e-close">Close</button>
  </ng-template>
</sci-accordion>

<sci-accordion class="e2e-viewpart-actions viewpart-actions" variant="solid">
  <ng-template sciAccordionItem [panel]="panel_viewpart_actions">
    <header>Viewpart Actions</header>
  </ng-template>
  <ng-template #panel_viewpart_actions>
    <input class="e2e-viewpart-actions"
           [formControl]="viewpartActionsFormControl"
           placeholder='Enter action(s) as JSON array: [{"icon":"open_in_new","align":"end","cssClass":"e2e-open-in-new"}]'>
  </ng-template>
</sci-accordion>

<ng-template wbViewPartAction
             *ngFor="let action of viewpartActions$ | async"
             [align]="action.align">
  <button class="material-icons" [ngClass]="action.cssClass">
    {{action.icon}}
  </button>
</ng-template>
