<wb-workbench>
  <wb-activity title="Activity for Testcase '1a90c8d31'"
               itemText="filter_1"
               itemCssClass="material-icons"
               [visible]="showActivities"
               routerLink="activity-1a90c8d31-1">
  </wb-activity>
  <wb-activity *ngIf="showActivities"
               title="Activity for Testcase '1a90c8d31'"
               itemText="filter_2"
               itemCssClass="material-icons"
               routerLink="activity-1a90c8d31-2">
  </wb-activity>

  <ng-template wbViewPartAction *ngIf="showOpenNewViewTabAction">
    <button [wbRouterLink]="'/welcome'" class="material-icons e2e-open-new-tab" [wbRouterLinkExtras]="{activateIfPresent: false, blankInsertionIndex: 'end'}">
      add
    </button>
  </ng-template>
</wb-workbench>
