:host {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;

  > app-header {
    flex: none;
    border-bottom: 1px solid var(--sci-color-border);
  }

  > main {
    flex: auto;
    display: grid;

    > router-outlet {
      position: absolute; // out of document flow
    }
  }
}
