<header class="e2e-header">
  <h1>Define the context of this outlet</h1>
  <button type="button" (click)="onClose()" class="material-icons close e2e-close">close</button>
</header>

<main cdkTrapFocus>
  <section class="new-context-entry e2e-new-context-entry">
    <header>Add a new value:</header>

    <form [formGroup]="form">
      <input [formControlName]="NAME" placeholder="Name" class="name e2e-name">
      <input [formControlName]="VALUE" placeholder="Value" class="value e2e-value">
      <button (click)="onAddClick()" [disabled]="form.invalid" class="add e2e-add" title="Add this value to the outlet context">Add</button>
    </form>
  </section>

  <sci-list class="context e2e-context">
    <ng-container *ngFor="let entry of routerOutlet.contextValues$ | async | keyvalue">
      <ng-template sciListItem [actions]="remove_template">
        <app-context-entry [name]="entry.key" [value]="entry.value"></app-context-entry>
      </ng-template>

      <ng-template #remove_template>
        <button class="material-icons e2e-remove" (click)="onRemoveClick(entry.key)" title="Remove this value from the outlet context">close</button>
      </ng-template>
    </ng-container>
  </sci-list>
</main>
