<section class="uuid">
  <span>Application instance UID:</span><span class="e2e-app-instance-uuid">{{appInstance.uuid}}</span>
  <span>Component instance UID:</span><span class="e2e-component-instance-uuid">{{uuid}}</span>
</section>

<section class="params">
  <h2>URL Parameters</h2>
  <sci-property class="e2e-url-params" [properties]="params$ | async"></sci-property>
</section>

<section class="query-params">
  <h2>URL Query Parameters</h2>
  <sci-property class="e2e-url-query-params" [properties]="queryParams$ | async"></sci-property>
</section>

<app-view-navigation-panel></app-view-navigation-panel>
