@import 'common';

:host {
  display: flex;

  > section {
    border: 1px solid accentColor(.25);
    border-radius: 5px;
    padding: 1em;
    background-color: #FFFFFF;
    font-size: 12px;
    flex: auto;

    > h2 {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 1em;
    }

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li > a.self {
        font-style: italic;
      }
    }
  }
}
