@if (activatedMicrofrontend) {
  <app-activated-microfrontend/>
}

@if (input()) {
  <sci-form-field label="Input" direction="column">
    <output class="e2e-input input">{{input()}}</output>
  </sci-form-field>
}

<sci-form-field label="Title" direction="column">
  <input [formControl]="form.controls.title" class="e2e-title">
</sci-form-field>

<sci-form-field label="Severity" direction="column">
  <select [formControl]="form.controls.severity" class="e2e-severity">
    <option value="info">info</option>
    <option value="warn">warn</option>
    <option value="error">error</option>
  </select>
</sci-form-field>

<sci-form-field label="Duration" direction="column">
  <input [formControl]="form.controls.duration" [attr.list]="durationList" class="e2e-duration">
  <datalist [attr.id]="durationList">
    <option value="short">short</option>
    <option value="medium">medium</option>
    <option value="long">long</option>
    <option value="infinite">infinite</option>
  </datalist>
</sci-form-field>

<sci-form-field label="CSS Class(es)" direction="column">
  <app-multi-value-input [formControl]="form.controls.cssClass" [placeholder]="'class-1 class-2'" class="e2e-class"/>
</sci-form-field>

<sci-accordion class="e2e-notification-size" variant="solid">
  <ng-template sciAccordionItem [panel]="panel_size">
    <header>Notification Size</header>
  </ng-template>
  <ng-template #panel_size>
    <sci-form-field label="Height">
      <input [formControl]="form.controls.notificationSize.controls.height" class="e2e-height">
    </sci-form-field>

    <sci-form-field label="Min Height">
      <input [formControl]="form.controls.notificationSize.controls.minHeight" class="e2e-min-height">
    </sci-form-field>

    <sci-form-field label="Max Height">
      <input [formControl]="form.controls.notificationSize.controls.maxHeight" class="e2e-max-height">
    </sci-form-field>
  </ng-template>
</sci-accordion>

<sci-accordion class="e2e-content-size" variant="solid">
  <ng-template sciAccordionItem [panel]="panel_content_size">
    <header>Content Size</header>
  </ng-template>
  <ng-template #panel_content_size>
    <sci-form-field label="Height">
      <input [formControl]="form.controls.componentSize.controls.height" class="e2e-height">
    </sci-form-field>
  </ng-template>
</sci-accordion>

<button (click)="onClose()" class="e2e-close" sci-primary>Close</button>
