@if (activatedMicrofrontend) {
  <app-activated-microfrontend/>
}

@if (input()) {
  <sci-form-field label="Input" direction="column">
    <output class="e2e-input input">{{input()}}</output>
  </sci-form-field>
}

<sci-form-field label="Title" direction="column">
  <input [formControl]="form.controls.title" class="e2e-title">
</sci-form-field>

<sci-form-field label="Severity" direction="column">
  <select [formControl]="form.controls.severity" class="e2e-severity">
    <option value="info">info</option>
    <option value="warn">warn</option>
    <option value="error">error</option>
  </select>
</sci-form-field>

<sci-form-field label="Duration" direction="column">
  <input [formControl]="form.controls.duration" [attr.list]="durationList" class="e2e-duration">
  <datalist [attr.id]="durationList">
    <option value="short">short</option>
    <option value="medium">medium</option>
    <option value="long">long</option>
    <option value="infinite">infinite</option>
  </datalist>
</sci-form-field>

<sci-form-field label="CSS Class(es)" direction="column">
  <app-multi-value-input [formControl]="form.controls.cssClass" [placeholder]="'class-1 class-2'" class="e2e-class"/>
</sci-form-field>

<button (click)="onClose()" class="e2e-close" sci-primary>Close</button>
