<sci-tabbar>
  <ng-template sciTab label="Modify Layout" cssClass="e2e-modify-layout">
    <app-modify-layout-page/>
  </ng-template>
  <ng-template sciTab label="Create Perspective" cssClass="e2e-create-perspective">
    <app-create-perspective-page/>
  </ng-template>
  <ng-template sciTab label="Register Part Action" cssClass="e2e-register-part-action">
    <app-register-part-action-page/>
  </ng-template>
  <ng-template sciTab label="Register Angular Route" cssClass="e2e-register-route">
    <app-register-route-page/>
  </ng-template>
</sci-tabbar>
