@import '../theming/Éµtoolkit-widget-theme';

:host {
  display: grid;
  outline: none;

  grid-template-columns: 100px auto; // 2 columns
  grid-column-gap: 1em;
  grid-row-gap: .5em;
  grid-template-rows: auto;
  @include grid-container-align-items(center);

  border: 1px solid accentColor(.25);
  border-radius: 5px;
  padding: 1em;

  &.removable {
    grid-template-columns: 100px auto 25px; // 3 columns
  }

  > h2 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0;

    grid-column: 1/3;
    grid-row: 1/2;
  }

  > button.add {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
  }

  > button.clear {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
