:host {
  display: grid;
  grid-row-gap: 1em;

  > sci-form-field output.input {
    border: 1px solid var(--sci-color-border);
    border-radius: var(--sci-corner);
    padding: .5em;
    white-space: pre;
    font-family: monospace;
    color: var(--sci-color-text-subtle);
  }
}
