@import 'common';

:host {
  display: grid;
  grid-row-gap: .5em;
  font-size: .9em;

  > form {
    display: grid;
    grid-template-columns: 100px minmax(75px, 300px) auto;
    grid-column-gap: 1em;
    grid-row-gap: .5em;
    @include grid-container-align-items(center);

    border: 1px solid accentColor(.25);
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 1em;

    > textarea {
      resize: none;
      height: 5em;
    }

    > span.validation {
      color: errorColor();
    }
  }

  > sci-params-enter {
    background-color: #FFFFFF;
  }

  > section.close-action {
    margin-top: 1.5em;
    border: 1px solid accentColor(.25);
    border-radius: 5px;
    padding: 1em;
    background-color: #FFFFFF;

    > output {
      font-weight: bold;
    }
  }
}
