@import 'common';

:host {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
  grid-row-gap: .5em;
  grid-template-rows: auto;
  align-items: start;

  > a.app-name {
    grid-column: 1/2;
    grid-row: 1/2;
    font-weight: bold;
  }

  > span.app-symbolic-name {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: smaller;
  }

  > a.url {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: smaller;
  }

  > div.chips {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    > span.chip {
      @include chip(accentColor(.2), transparent, accentColor(.75));
    }
  }
}
