@import 'common';

:host {
  display: grid;
  grid-row-gap: .5em;
  font-size: .9em;

  > section {
    border: 1px solid accentColor(.25);
    border-radius: 5px;
    padding: 1em;
    background-color: #FFFFFF;

    > h2 {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 2em;
    }

    &.properties > form {
      display: grid;
      grid-template-columns: 100px minmax(75px, 300px);
      grid-column-gap: 1em;
      grid-row-gap: .5em;
      align-items: start;

      > textarea#active-log {
        height: 10em;
        resize: none;
      }
    }
  }
}
