<sci-params-enter [title]="'Qualifier'" [paramsFormArray]="form.get(QUALIFIER)" [addable]="true" [removable]="true" class="e2e-qualifier-panel"></sci-params-enter>

<form autocomplete="off">
  <label for="title">Title</label>
  <input id="title" [formControl]="form.get(TITLE)">
  <span class="validation"><ng-container *ngIf="form.get(TITLE).invalid">Invalid</ng-container></span>

  <label for="text">Text</label>
  <input id="text" [formControl]="form.get(TEXT)">
  <span class="validation"><ng-container *ngIf="form.get(TEXT).invalid">Invalid</ng-container></span>

  <label for="severity">Severity</label>
  <select id="severity" [formControl]="form.get(SEVERITY)">
    <option value="info">info</option>
    <option value="warn">warn</option>
    <option value="error">error</option>
  </select>
  <span class="validation"><ng-container *ngIf="form.get(SEVERITY).invalid">Invalid</ng-container></span>

  <label for="duration">Duration</label>
  <select id="duration" [formControl]="form.get(DURATION)">
    <option value="short">short</option>
    <option value="medium">medium</option>
    <option value="long">long</option>
    <option value="infinite">infinite</option>
  </select>
  <span class="validation"><ng-container *ngIf="form.get(DURATION).invalid">Invalid</ng-container></span>

  <label for="group">Group</label>
  <input id="group" [formControl]="form.get(GROUP)">
  <span class="validation"><ng-container *ngIf="form.get(GROUP).invalid">Invalid</ng-container></span>

  <label for="css-class">CSS class</label>
  <input id="css-class" [formControl]="form.get(CSS_CLASS)">
  <span class="validation"><ng-container *ngIf="form.get(CSS_CLASS).invalid">Invalid</ng-container></span>

  <label for="payload">Payload</label>
  <textarea id="payload" [formControl]="form.get(PAYLOAD)" placeholder="Enter JSON here"></textarea>
  <span class="validation"><ng-container *ngIf="form.get(PAYLOAD).invalid">Invalid JSON</ng-container></span>
</form>

<button (click)="onShow()" [disabled]="!form.valid" class="e2e-show">Show</button>
