<sci-params-enter [title]="'Qualifier'" [paramsFormArray]="form.get(QUALIFIER)" [addable]="true" [removable]="true" class="e2e-qualifier-panel"></sci-params-enter>
<sci-params-enter [title]="'Query parameters'" [paramsFormArray]="form.get(QUERY_PARAMS)" [addable]="true" [removable]="true" class="e2e-query-params-panel"></sci-params-enter>
<sci-params-enter [title]="'Matrix parameters'" [paramsFormArray]="form.get(MATRIX_PARAMS)" [addable]="true" [removable]="true" class="e2e-matrix-params-panel"></sci-params-enter>

<section class="position">
  <h2>Position</h2>
  <form autocomplete="off">
    <label for="position">Position</label>
    <select id="position" [formControl]="form.get(POSITION)">
      <option value="east">east</option>
      <option value="west">west</option>
      <option value="north">north</option>
      <option value="south">south</option>
    </select>
  </form>
</section>

<section class="close-strategy">
  <h2>Close strategy</h2>
  <form autocomplete="off">
    <label for="onFocusLost">onFocusLost</label>
    <input id="onFocusLost" type="checkbox" [formControl]="form.get(CLOSE_ON_FOCUS_LOST)">

    <label for="onEscape">onEscape</label>
    <input id="onEscape" type="checkbox" [formControl]="form.get(CLOSE_ON_ESCAPE)">

    <label for="onGridLayoutChange">onGridLayoutChange</label>
    <input id="onGridLayoutChange" type="checkbox" [formControl]="form.get(CLOSE_ON_GRID_LAYOUT_CHANGE)">
  </form>
</section>

<button (click)="onOpen(popup_anchor)" class="e2e-execute">Open</button>
<span class="anchor" #popup_anchor></span>

<section class="result" *ngIf="result">
  <h2>Result</h2>
  <sci-property [properties]="result" class="e2e-result"></sci-property>
</section>
