<ng-container *ngIf="isTopicMessage; then topic_message_template else intent_message_template"></ng-container>
<ng-template #topic_message_template>
  Topic:<span class="e2e-topic topic">{{message.topic}}</span>
  <ng-container *ngIf="message.headers.get(MessageHeaders.ReplyTo) as replyTo">
    replyTo: <span class="e2e-reply-to">{{replyTo}}</span>
  </ng-container>
  Body: <span class="e2e-body">{{message.body}}</span>
</ng-template>

<ng-template #intent_message_template>
  Type: <span class="e2e-intent-type">{{message.type}}</span>
  Qualifier: <span class="e2e-intent-qualifier">{{message.qualifier | json}}</span>
  <ng-container *ngIf="message.headers.get(MessageHeaders.ReplyTo) as replyTo">
    replyTo: <span class="e2e-reply-to">{{replyTo}}</span>
  </ng-container>
  Body: <span class="e2e-body">{{message.body}}</span>
</ng-template>

