<section>
  <label for="label">Label</label>
  <input id="label" [formControl]="form.get(LABEL)">

  <label for="title">Title</label>
  <input id="title" [formControl]="form.get(TITLE)">

  <label for="css-class">CSS Class</label>
  <input id="css-class" [formControl]="form.get(CSS_CLASS)">
</section>

<sci-params-enter [title]="'Qualifier'" [paramsFormArray]="form.get(QUALIFIER)" [addable]="true" [removable]="true" class="e2e-qualifier-panel"></sci-params-enter>
<sci-params-enter [title]="'Query parameters'" [paramsFormArray]="form.get(QUERY_PARAMS)" [addable]="true" [removable]="true" class="e2e-query-params-panel"></sci-params-enter>
<sci-params-enter [title]="'Matrix parameters'" [paramsFormArray]="form.get(MATRIX_PARAMS)" [addable]="true" [removable]="true" class="e2e-matrix-params-panel"></sci-params-enter>

<section>
  <label for="activateIfPresent">ActivateIfPresent</label>
  <input id="activateIfPresent" type="checkbox" [formControl]="form.get(ACTIVATE_IF_PRESENT)">

  <label for="closeIfPresent">CloseIfPresent</label>
  <input id="closeIfPresent" type="checkbox" [formControl]="form.get(CLOSE_IF_PRESENT)">
</section>

<button (click)="onAddAction()" class="e2e-add-action">Add action</button>
