<div class="theme-switcher">
  <button (click)="onActivateDarkTheme()" sciMaterialIcon>dark_mode</button>
  <sci-toggle-button [formControl]="lightThemeActiveFormControl"></sci-toggle-button>
  <button (click)="onActivateLightTheme()" sciMaterialIcon>light_mode</button>
</div>

<div class="toggle-buttons e2e-perspective-toggles">
  <button *ngFor="let perspective of workbenchService.perspectives$ | async"
          (click)="onPerspectiveActivate(perspective.id)"
          class="e2e-perspective"
          [attr.data-perspectiveid]="perspective.id"
          [class.active]="perspective.active$ | async"
          [class.e2e-active]="perspective.active$ | async">
    {{perspective.data[PerspectiveData.label] ?? perspective.id}}
  </button>
</div>
<button (click)="onMenuOpen($event)" class="menu-button e2e-menu-button" sciMaterialIcon>
  more_vert
</button>
