:host {
  display: flex;
  align-items: center;
  padding: .5em;

  > div.theme-switcher {
    flex: auto;
    display: flex;
    gap: .25em;
    align-items: center;
    user-select: none;
  }

  > div.toggle-buttons {
    flex: none;
    display: flex;
    border-radius: var(--sci-corner);
    border: 1px solid var(--sci-color-border);
    overflow: hidden;

    > button {
      border: none;
      border-radius: 0;
      user-select: none;
      background-color: var(--sci-color-background-primary);
      color: var(--sci-color-text);

      &:active, &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    > button:not(:first-child) {
      border-left: 1px solid var(--sci-color-border);
    }

    > button.active {
      background-color: var(--sci-color-accent);
      color: var(--sci-color-accent-inverse);
    }
  }
}
