<div class="theme-switcher">
  <button (click)="onActivateDarkTheme()" sciMaterialIcon>dark_mode</button>
  <sci-toggle-button [formControl]="lightThemeActiveFormControl" class="e2e-color-scheme"></sci-toggle-button>
  <button (click)="onActivateLightTheme()" sciMaterialIcon>light_mode</button>
</div>

<div class="toggle-buttons e2e-perspective-toggles">
  @for (perspective of workbenchService.perspectives$ | async | appSortPerspectives; track perspective.id) {
    @if (perspective.id !== 'blank') {
      <button (click)="onTogglePerspective(perspective.id)"
              class="e2e-perspective"
              [title]="perspective.data[PerspectiveData.tooltip]"
              [attr.data-perspectiveid]="perspective.id"
              [class.active]="perspective.active$ | async"
              [class.e2e-active]="perspective.active$ | async">
        {{perspective.data[PerspectiveData.label] ?? perspective.id}}
      </button>
    }
  }
</div>
<button (click)="onMenuOpen($event)" class="menu-button e2e-menu-button" sciMaterialIcon>
  more_vert
</button>
