<sci-viewport cdkTrapFocus>
  <section *ngIf="popup.input">
    <header>Input Data</header>

    <output class="input e2e-input">
      {{popup.input}}
    </output>
  </section>

  <section>
    <header>Size</header>

    <sci-form-field label="Min Height">
      <input [(ngModel)]="minHeight" class="e2e-min-height">
    </sci-form-field>

    <sci-form-field label="Height">
      <input [(ngModel)]="height" class="e2e-height">
    </sci-form-field>

    <sci-form-field label="Max Height">
      <input [(ngModel)]="maxHeight" class="e2e-max-height">
    </sci-form-field>

    <sci-form-field label="Min Width">
      <input [(ngModel)]="minWidth" class="e2e-min-width">
    </sci-form-field>

    <sci-form-field label="Width">
      <input [(ngModel)]="width" class="e2e-width">
    </sci-form-field>

    <sci-form-field label="Max Width">
      <input [(ngModel)]="maxWidth" class="e2e-max-width">
    </sci-form-field>
  </section>

  <section class="return-value">
    <header>Return Value</header>

    <input class="e2e-return-value" placeholder="Optional data to be returned to the popup opener" #return_value>
  </section>
</sci-viewport>

<button (click)="popup.close(return_value.value || undefined)" class="close e2e-close">Close</button>
