@use 'sci-toolkit-styles' as sci-toolkit-styles;

:host {
  display: flex;
  flex-direction: column;
  padding: 1em;

  > sci-viewport {
    flex: auto;
    --sci-viewport-content-grid-auto-rows: max-content;
    --sci-viewport-content-grid-gap: 1em;

    section, form {
      display: grid;
      grid-row-gap: .5em;
      border: 1px solid var(--sci-color-P400);
      border-radius: 5px;
      padding: 1em;

      > header {
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 2em;
        font-weight: bold;
      }

      &.return-value input {
        @include sci-toolkit-styles.input-field();
      }
    }
  }

  > button.close {
    flex: none;
    margin-top: .5em;
  }
}
