@use '@angular/cdk';
@use '@scion/components';
@use '@scion/components.internal/design' as sci-design;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:wght@300..400');

html {
  font-size: 14px; // defines 1rem as 14px
}

body {
  font-family: Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--sci-color-text);
  background-color: unset; // Do not set the background color in microfrontends to inherit it from the embedding context of the workbench, such as view or dialog.
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  @include sci-design.style-link();
}

button[class*="material-icons"], button[class*="material-symbols"] {
  @include sci-design.style-mat-icon-button();
}

button:not([class*="material-icons"]):not([class*="material-symbols"]) {
  @include sci-design.style-button();
}

// Install Angular CDK styles
@include cdk.a11y-visually-hidden();
@include cdk.overlay();
