@use '@angular/cdk';
@use '@scion/components';
@use '@scion/components.internal/design' as sci-design;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

html {
  font-size: 14px; // defines 1rem as 14px
}

body {
  font-family: Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--sci-color-text);
  background-color: unset; // Do not set the background color in microfrontends to inherit it from the embedding context of the workbench, such as view or dialog.
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  @include sci-design.style-link();
}

// TODO [Angular 20] Change style in @scion/components.internal
button[class*="material-icons"], button[class*="material-symbols"] {
  display: inline-grid;
  place-content: center;
  place-items: center;
  padding: .125em;
  font-size: 20px;
  border-radius: var(--sci-corner);
  border: unset;
  background-color: unset;

  &:hover, &.menu-open {
    background-color: var(--sci-workbench-button-background-color-hover);
  }

  &:active {
    background-color: var(--sci-workbench-button-background-color-active);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--sci-color-accent);
  }
}

// TODO [Angular 20] Change style in @scion/components.internal
button:not([class*="material-icons"]):not([class*="material-symbols"]) {
  @include sci-design.style-button();
  cursor: auto;
}

// TODO [Angular 20] Change style in @scion/components.internal
:where(sci-checkbox, sci-toggle-button) label {
  cursor: auto !important;
}

// Install Angular CDK styles
@include cdk.a11y-visually-hidden();
@include cdk.overlay();
