<form [formGroup]="form">
  <sci-form-field label="Label">
    <input [formControl]="this.form.controls.label" class="e2e-label">
  </sci-form-field>

  <sci-form-field label="Parts">
    <div class="properties">
      <!-- id -->
      <span>Id</span>
      <!-- relativeTo -->
      <span>RelativeTo</span>
      <!-- align -->
      <span>Align</span>
      <!-- ratio -->
      <span>Ratio</span>

      <div class="actions">
        <!-- add button -->
        <button (click)="onAddPart()" class="e2e-add" title="Add entry" sciMaterialIcon>add</button>
        <!-- remove button -->
        <button (click)="onClearParts()" class="e2e-clear" title="Clear all entries" sciMaterialIcon>clear</button>
      </div>

      <ng-container *ngFor="let partsGroup of form.controls.parts.controls; index as i;">
        <!-- id -->
        <input [formControl]="partsGroup.controls.id" class="e2e-part-id">
        <!-- relativeTo -->
        <input [formControl]="partsGroup.controls.relativeTo" class="e2e-part-relativeTo">
        <!-- align -->
        <select [formControl]="partsGroup.controls.align" class="e2e-part-align">
          <option value="left">left</option>
          <option value="right">right</option>
          <option value="top">top</option>
          <option value="bottom">bottom</option>
        </select>
        <!-- ratio -->
        <input [formControl]="partsGroup.controls.ratio" type="number" class="e2e-part-ratio">
        <!-- 'remove' button -->
        <button class="e2e-remove" (click)="onRemovePart(i)" title="remove entry" sciMaterialIcon>remove</button>
      </ng-container>
    </div>
  </sci-form-field>
</form>
