@use '@scion/components.internal/design' as sci-design;

:host {
  display: grid;

  > form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    > sci-form-field {

      section.parts {
        display: grid;
        grid-template-columns:
        1fr // Part ID
        1fr // Qualifier
        1fr // Relative To
        1fr // Align
        1fr // Ratio
        min-content // Active
        1fr // Css Class
        min-content; // Add / Remove Part
        align-items: center;
        gap: 1em;
      }

      section.docked-parts {
        display: grid;
        grid-template-columns:
        1fr // Part ID
        1fr // Qualifier
        1fr // Dock To
        min-content // Active
        1fr // Css Class
        1fr // Activity Id
        min-content; // Add / Remove Part
        align-items: center;
        gap: 1em;
      }
    }
  }

  input, select {
    @include sci-design.style-input-field();
    height: 1.25em;
  }
}
