$background-color: #FEFEFE;

$viewlistitem-border-color: rgba(102, 102, 102, .3);

$error-color: rgba(255, 55, 55, 1);
$info-color: rgba(19, 138, 203, 1);
$warn-color: rgba(240, 173, 78, 1);

/*
 * Part
 */
$part_tabbar-bgcolor: #333333;
$part_tabbar_separator-color: #666666;
$part_tab-fgcolor: #EFEFEF;
$part_tab-active-fgcolor: #252526;
$part_tab-active-bgcolor: $background-color;
$part_sash-bgcolor: #333333;

/*
 * Notification
 */
$notification-fgcolor: #333333;
$notification-bgcolor: $background-color;
$notification-border-color: rgb(204, 204, 204);

/*
 * Message Box
 */
$messagebox-fgcolor: #333333;
$messagebox-bgcolor: $background-color;
$messagebox-border-color: rgb(204, 204, 204);
