$topbar-height: 3.5rem;
$viewtab-height: $topbar-height;
$viewtab-min-width: 100px;
$viewtab-max-width: 200px;
$activitypart_toolbar-width: 50;
$notification-width: 350px;
$notification-margin: .5em;
$messagebox-max-width: 400px;
$popup-box-shadow: 3px 10px 20px -5px rgba(0, 0, 0, 0.5);
