@use './colors' as colors;

/**
 * Provides styles for view drag and drop.
 */
@mixin view-tab-drag-image($theme) {
  .wb-view-tab-drag-image {
    display: grid;
    position: fixed;
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
    color: colors.$viewpart_tab-active-fgcolor;
    background-color: colors.$viewpart_tab-active-bgcolor;
    pointer-events: none;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

