<sci-form-field label="Focused">
  <input [ngModel]="focused()" disabled>
</sci-form-field>

<sci-accordion class="notification-capability e2e-notification-capability" variant="solid">
  <ng-template sciAccordionItem [panel]="panel_capability">
    <header>Notification Capability</header>
  </ng-template>
  <ng-template #panel_capability>
    <sci-viewport>
      <div class="capability e2e-notification-capability">{{notification.capability | json}}</div>
    </sci-viewport>
  </ng-template>
</sci-accordion>

@if (notification.params | appNullIfEmpty; as params) {
  <sci-accordion class="e2e-notification-params" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_notification_params">
      <header>Notification Params</header>
    </ng-template>
    <ng-template #panel_notification_params>
      <sci-key-value [object]="params" class="e2e-notification-params"/>
    </ng-template>
  </sci-accordion>
}

@if (route.params | async | appNullIfEmpty; as params) {
  <sci-accordion variant="solid" class="e2e-route-params">
    <ng-template sciAccordionItem [panel]="panel_route_params">
      <header>Route Params</header>
    </ng-template>
    <ng-template #panel_route_params>
      <sci-key-value [object]="params" class="e2e-route-params"/>
    </ng-template>
  </sci-accordion>
}

@if (route.queryParams | async | appNullIfEmpty; as params) {
  <sci-accordion variant="solid" class="e2e-route-query-params">
    <ng-template sciAccordionItem [panel]="panel_query_params">
      <header>Route Query Params</header>
    </ng-template>
    <ng-template #panel_query_params>
      <sci-key-value [object]="params" class="e2e-route-query-params"/>
    </ng-template>
  </sci-accordion>
}

@if (route.fragment | async | appNullIfEmpty; as fragment) {
  <sci-accordion class="e2e-route-fragment" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_route_fragment">
      <header>Route Fragment</header>
    </ng-template>
    <ng-template #panel_route_fragment>
      <span class="e2e-route-fragment">{{fragment}}</span>
    </ng-template>
  </sci-accordion>
}

<button class="e2e-close" (click)="onClose()">close</button>

