:host {
  display: flex;
  flex-direction: column;
  gap: 1em;

  > sci-accordion {
    header {
      font-weight: bold;
    }

    &.notification-capability sci-viewport {
      max-height: 200px;

      div.capability {
        white-space: pre;
        font-family: monospace;
      }
    }
  }
}
