:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  > form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    > section {
      display: grid;
      grid-row-gap: .5em;
      border: 1px solid var(--sci-color-P400);
      border-radius: 5px;
      padding: 1em;
    }
  }

  > output.error {
    border: 1px solid var(--sci-color-warn);
    background-color: var(--sci-color-W100);
    border-radius: 3px;
    padding: 1em;
  }
}
