:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  > form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    > section {
      display: grid;
      grid-row-gap: .5em;
      border: 1px solid var(--sci-color-border);
      border-radius: var(--sci-corner);
      padding: 1em;

      // TODO [Angular 22] Remove with Angular 22. Used for backward compatiblity.
      > header {
        margin-bottom: 1em;
        font-weight: bold;
      }
    }
  }

  > output.notification-open-error {
    border: 1px solid var(--sci-color-negative);
    background-color: var(--sci-color-background-negative);
    color: var(--sci-color-negative);
    border-radius: var(--sci-corner);
    padding: 1em;
    font-family: monospace;
  }
}
