@import 'common';

:host {
  display: grid;
  grid-row-gap: .5em;
  font-size: .9em;

  > sci-params-enter {
    background-color: #FFFFFF;
  }

  > form {
    display: grid;
    grid-template-columns: 100px minmax(75px, 300px);
    grid-column-gap: 1em;
    grid-row-gap: .5em;
    @include grid-container-align-items(center);
    background-color: #FFFFFF;

    border: 1px solid accentColor(.25);
    border-radius: 5px;
    padding: 1em;
  }
}
