<ng-container [formGroup]="form">
  <section>
    <sci-form-field label="Component">
      <select [formControlName]="COMPONENT" class="e2e-component">
        <option value="inspect-message-box">InspectMessageBoxComponent</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Content" *ngIf="!isUseComponent()">
      <input [formControlName]="CONTENT" class="e2e-content">
    </sci-form-field>

    <sci-form-field label="Component Input" *ngIf="isUseComponent()">
      <input [formControlName]="COMPONENT_INPUT" class="e2e-component-input">
    </sci-form-field>
  </section>

  <section>
    <sci-form-field label="Title">
      <input [formControlName]="TITLE" class="e2e-title">
    </sci-form-field>

    <sci-form-field label="Actions">
      <sci-params-enter [paramsFormArray]="$any(form.get(ACTIONS))" [addable]="true" [removable]="true" class="e2e-actions"></sci-params-enter>
    </sci-form-field>

    <sci-form-field label="Severity">
      <select [formControlName]="SEVERITY" class="e2e-severity">
        <option value="info">info</option>
        <option value="warn">warn</option>
        <option value="error">error</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Modality">
      <select [formControlName]="MODALITY" class="e2e-modality">
        <option value="application">application</option>
        <option value="view">view</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Contextual View ID">
      <input [formControlName]="CONTEXTUAL_VIEW_ID" class="e2e-contextual-view-id">
    </sci-form-field>

    <sci-form-field label="Content Selectable">
      <sci-checkbox [formControlName]="CONTENT_SELECTABLE" class="e2e-content-selectable"></sci-checkbox>
    </sci-form-field>

    <sci-form-field label="CSS Class(es)">
      <input [formControlName]="CSS_CLASS" class="e2e-class" placeholder="Separate multiple CSS classes by space">
    </sci-form-field>
  </section>

  <section>
    <sci-form-field label="View Context Active">
      <sci-checkbox [formControlName]="VIEW_CONTEXT" class="e2e-view-context"></sci-checkbox>
    </sci-form-field>
  </section>
</ng-container>

<button (click)="onMessageBoxOpen()" class="e2e-open" [disabled]="form.invalid">
  Open message box
</button>

<output class="close-action e2e-close-action" *ngIf="closeAction">
  {{closeAction}}
</output>

<output class="open-error e2e-open-error" *ngIf="openError">
  {{openError}}
</output>

