<form [formGroup]="form">
  <section>
    <sci-form-field label="Component">
      <select [formControl]="form.controls.component" class="e2e-component">
        <option value="message-box-page">MessageBoxPageComponent</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Message" *ngIf="!isUseComponent()">
      <input [formControl]="form.controls.message" class="e2e-message">
    </sci-form-field>

    <sci-form-field label="Inputs" *ngIf="isUseComponent()">
      <sci-key-value-field [keyValueFormArray]="form.controls.options.controls.inputs" [addable]="true" [removable]="true" class="e2e-inputs"/>
    </sci-form-field>
  </section>

  <section>
    <sci-form-field label="Title">
      <input [formControl]="form.controls.options.controls.title" class="e2e-title">
    </sci-form-field>

    <sci-form-field label="Actions">
      <sci-key-value-field [keyValueFormArray]="form.controls.options.controls.actions" [addable]="true" [removable]="true" class="e2e-actions"></sci-key-value-field>
    </sci-form-field>

    <sci-form-field label="Severity">
      <select [formControl]="form.controls.options.controls.severity" class="e2e-severity">
        <option value="info">info</option>
        <option value="warn">warn</option>
        <option value="error">error</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Modality">
      <select [formControl]="form.controls.options.controls.modality" class="e2e-modality">
        <option value="application">application</option>
        <option value="view">view</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Content Selectable">
      <sci-checkbox [formControl]="form.controls.options.controls.contentSelectable" class="e2e-content-selectable"></sci-checkbox>
    </sci-form-field>

    <sci-form-field label="CSS Class(es)">
      <input [formControl]="form.controls.options.controls.cssClass" class="e2e-class" placeholder="Separate multiple CSS classes by space">
    </sci-form-field>
  </section>
</form>

<button (click)="onMessageBoxOpen()" class="e2e-open" [disabled]="form.invalid" sci-primary>
  Open message box
</button>

<output class="close-action e2e-close-action" *ngIf="closeAction">
  {{closeAction}}
</output>

<output class="open-error e2e-message-box-error" *ngIf="messageBoxError">
  {{messageBoxError}}
</output>
