<form [formGroup]="form">
  <section>
    <sci-form-field label="Component">
      <select [formControl]="form.controls.component" class="e2e-component">
        <option value="dialog-page">DialogPageComponent</option>
        <option value="focus-test-page">FocusTestPageComponent</option>
        <option value="input-field-test-page">InputFieldTestPageComponent</option>
        <option value="size-test-page">SizeTestPageComponent</option>
        <option value="dialog-opener-page">DialogOpenerPageComponent</option>
        <option value="popup-opener-page">PopupOpenerPageComponent</option>
        <option value="large-test-page">LargeTestPageComponent</option>
        <option value="workbench-handle-bounds-test-page">WorkbenchHandleBoundsTestPageComponent</option>
      </select>
    </sci-form-field>
  </section>

  <section>
    <sci-form-field label="Inputs">
      <sci-key-value-field [keyValueFormArray]="form.controls.options.controls.inputs" [addable]="true" [removable]="true" class="e2e-inputs"/>
    </sci-form-field>

    <sci-form-field label="Modality">
      <select [formControl]="form.controls.options.controls.modality" class="e2e-modality">
        <option value="">default</option>
        <option value="none">none</option>
        <option value="context">context</option>
        <option value="application">application</option>
        <option value="view">view</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Context">
      <input [formControl]="form.controls.options.controls.context" class="e2e-context" placeholder="Part ID, View ID, Dialog ID, Popup ID, Notification ID, or <null>" [attr.list]="nullList">
    </sci-form-field>

    <sci-form-field label="Animate">
      <sci-checkbox [formControl]="form.controls.options.controls.animate" class="e2e-animate"/>
    </sci-form-field>

    <sci-form-field label="CSS Class(es)">
      <app-multi-value-input [formControl]="form.controls.options.controls.cssClass" [placeholder]="'class-1 class-2'" class="e2e-class"/>
    </sci-form-field>
  </section>

  <section>
    <sci-form-field label="Root Injector" title="Controls whether to open the dialog inside root injection context">
      <sci-checkbox [formControl]="form.controls.rootContext" class="e2e-root-context"/>
    </sci-form-field>

    <sci-form-field label="Count">
      <input [formControl]="form.controls.count" class="e2e-count"
             placeholder="Number of dialogs to open (1 by default). For every dialog, an 'index-$1' CSS class is added, where $1 is the index of the dialog, starting with 0.">
    </sci-form-field>
  </section>
</form>

<button (click)="onDialogOpen()" class="e2e-open" [disabled]="form.invalid" sci-primary>
  Open dialog
</button>

@if (returnValue) {
  <output class="return-value e2e-return-value">
    {{returnValue}}
  </output>
}

@if (dialogError) {
  <output class="dialog-error e2e-dialog-error">
    {{dialogError}}
  </output>
}

<datalist [attr.id]="nullList">
  <option value="<null>"></option>
</datalist>
