<section class="application">
  <label class="app-name">Name:</label>
  <span class="app-name">{{manifest?.name}}</span>

  <label class="app-symbolic-name">Symbolic name:</label>
  <span class="app-symbolic-name">{{manifest?.symbolicName}}</span>

  <label class="app-url">Application URL:</label>
  <a class="app-url" [href]="manifest?.baseUrl" target="_blank">{{manifest?.baseUrl}}</a>

  <ng-container *ngIf="manifest?.manifestUrl">
    <label class="manifest-url">Manifest URL:</label>
    <a class="manifest-url" [href]="manifest.manifestUrl" target="_blank">{{manifest.manifestUrl}}</a>
  </ng-container>

  <span *ngIf="manifest?.scopeCheckDisabled" class="scope-check-disabled"
        [title]="'Scope check is disabled for this application.\nThis application can use private capabilities of other applications.'">
    SCOPE CHECK DISABLED
  </span>
</section>

<section #sashbox class="sashbox">
  <!-- capabilities -->
  <section class="sash-1" *ngIf="capabilities$ | async as capabilities" [style.flex-grow]="sashPositionFr">
    <h2>Capabilities<span class="count-badge">{{capabilities.length}}</span></h2>
    <sci-filter-field #capability_filter_field (filter)="onCapabilityFilter($event)"></sci-filter-field>
    <sci-accordion (keydown)="capability_filter_field.onKeydown($event)">
      <ng-container *ngFor="let capability of capabilities">
        <ng-template sciAccordionItem [panel]="panel">
          <app-capability-accordion-item [capability]="capability"></app-capability-accordion-item>
        </ng-template>

        <ng-template #panel>
          <app-capability-accordion-panel [capability]="capability"></app-capability-accordion-panel>
        </ng-template>
      </ng-container>
    </sci-accordion>
  </section>

  <!-- splitter -->
  <div class="splitter"
       [sciSash]="'horizontal'"
       (sciSashChange)="onSash($event)"
       (sciSashReset)="onSashReset()">
    <div class="sash-indicator"></div>
    <div class="sash-indicator"></div>
    <div class="sash-indicator"></div>
  </div>

  <!-- intents -->
  <section class="sash-2" [style.flex-grow]="1 - sashPositionFr" *ngIf="intents$ | async as intents">
    <h2>Intents<span class="count-badge">{{intents.length}}</span></h2>
    <sci-filter-field #intent_filter_field (filter)="onIntentFilter($event)"></sci-filter-field>
    <sci-accordion (keydown)="intent_filter_field.onKeydown($event)">
      <ng-container *ngFor="let intent of intents">
        <ng-template sciAccordionItem [panel]="panel">
          <app-intent-accordion-item [intent]="intent"></app-intent-accordion-item>
        </ng-template>

        <ng-template #panel>
          <app-intent-accordion-panel [intent]="intent"></app-intent-accordion-panel>
        </ng-template>
      </ng-container>
    </sci-accordion>
  </section>
</section>
