<section class="description" *ngIf="capability.description">
  {{capability.description}}
</section>

<section class="properties" *ngIf="capability.properties">
  <h2>Properties</h2>
  <sci-property [properties]="capability.properties"></sci-property>
</section>

<section class="used-by">
  <h2>Used by following applications</h2>
  <ul>
    <li *ngFor="let consumer of consumers$ | async">
      <a class="app-name" [wbRouterLink]="{entity: 'application', symbolicName: consumer.symbolicName}"
         [wbRouterLinkExtras]="{target: 'blank'}"
         [class.self]="consumer.symbolicName === capability.metadata.symbolicAppName">
        {{consumer.name}}
      </a>
    </li>
  </ul>
</section>
