<wb-workbench>
  @if (!useLegacyStartPage()) {
    <ng-template wbDesktop>
      <app-start-page/>
    </ng-template>
  }

  <ng-template wbPartAction [canMatch]="isPartInMainArea" align="start" cssClass="e2e-open-new-tab">
    <button [wbRouterLink]="'/start-page'" [wbRouterLinkExtras]="{target: 'blank', position: 'end'}" sciMaterialIcon>
      add
    </button>
  </ng-template>

  <ng-template wbViewMenuItem group="move" cssClass="e2e-move-view" (action)="onMoveView($event)">
    Move View...
  </ng-template>

  <ng-template wbViewMenuItem group="x-debug" cssClass="e2e-show-view-info" [accelerator]="['F1']" (action)="onShowViewInfo($event)">
    Show View Info
  </ng-template>
</wb-workbench>
