:host {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--sci-color-P400);
  background-color: var(--sci-color-P50);
  box-shadow: 8px 8px 9px -9px rgba(var(--sci-color-primary-rgb), .2);

  > div.menu-item {
    padding: .6em 1.5em;
    cursor: default;
    font-size: smaller;
    user-select: none;

    &:hover {
      background-color: rgba(var(--sci-color-primary-rgb), .0375);
      box-shadow: 0 0 0 1px var(--sci-color-P400);
    }

    &.disabled {
      opacity: .5;
      pointer-events: none;
    }
  }

  > div.separator {
    border-bottom: 1px solid var(--sci-color-P400);
  }
}
