:host {
  display: grid;
  grid-template-columns:
    // === Menu Item Subgrid ===
    auto // Checkmark
    1fr; // Label
  gap: 1px .5em; // 1px space for top/bottom borders when hovering the menu item
  border: 1px solid var(--sci-color-border);
  background-color: var(--sci-color-background-elevation);
  border-radius: var(--sci-corner);
  overflow: hidden;
  width: 100%; // fill overlay horizontally
  height: 100%; // fill overlay vertically
  user-select: none;

  > button.menu-item {
    all: unset;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    padding: .5em 1.5em .5em .6em;
    font-size: smaller;
    position: relative; // positioning context for separator pseudo element and actions

    &:hover {
      background-color: var(--sci-color-background-elevation-hover);
      box-shadow: 0 0 0 1px var(--sci-color-border);

      > div.actions {
        background-color: var(--sci-color-background-elevation-hover); // to cover the content of the menu item when the actions overlay the menu item content
      }
    }

    &.disabled {
      opacity: .5;
      pointer-events: none;
    }

    > span.check-mark {
      font-size: 1.5em;
    }

    &:not(.checked) > span.check-mark {
      visibility: hidden;
    }

    &:not(:hover):not(.checked) > div.actions {
      display: none;
    }

    > div.actions {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      padding: 0 .25em;
      gap: .25em;
      background-color: var(--sci-color-background-elevation); // to cover the content of the menu item when the actions overlay the menu item content

      > button {
        font-size: 1.5em;
      }
    }

    // separator
    &:has(+ hr):after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 1px;
      background-color: var(--sci-color-border);
      content: '';
    }
  }

  > hr {
    grid-column: 1/-1;
    display: none; // remove from flex container to not render the gap between flex items
  }

  > header {
    grid-column: 2/-1;
    padding: .6em 1.5em .25em 0;
    font-size: .8em;
    color: var(--sci-color-text-subtlest);
  }
}
