@use '@scion/components.internal/design' as sci-design;

:host {
  display: flex;
  flex-direction: column;
  padding: 1em;
  // Because this component contains expandable panels that can grow and shrink,
  // we position it out of the document flow to give it infinite space so that it
  // can always be rendered at its preferred size.
  position: absolute;

  > sci-viewport {
    flex: auto;

    &::part(content) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: start;
      gap: 1em;
    }

    > section {
      display: flex;
      flex-direction: column;
      gap: .5em;
      border: 1px solid var(--sci-color-border);
      border-radius: var(--sci-corner);
      padding: 1em;

      > header {
        margin-bottom: 1em;
        font-weight: bold;
      }
    }

    > section.general {
      grid-column: 1/-1;
    }

    > section.component-size {
      grid-column: 1;
    }

    > section.properties {
      grid-column: 2;
    }

    > sci-accordion.return-value {
      grid-column: 1/-1;
    }

    sci-accordion {
      header {
        font-weight: bold;
      }

      &.popup-capability sci-viewport {
        max-height: 200px;
        max-width: 260px;

        div.capability {
          white-space: pre;
          font-family: monospace;
        }
      }

      &.e2e-popup-params sci-viewport {
        max-height: 200px;
      }

      &.preferred-popup-size sci-viewport {
        max-height: 200px;

        div.preferred-popup-size {
          white-space: pre;
          font-family: monospace;
        }
      }

      &.return-value input {
        @include sci-design.style-input-field();
      }
    }
  }

  > div.buttons {
    flex: none;
    display: flex;
    gap: 2em;
    padding-top: 1em;
    align-items: center;
    justify-content: space-between;

    > label.close-with-error {
      display: flex;
      align-items: center;
      gap: .5em;
    }
  }
}
