<form autocomplete="off">
  <label for="title">Title</label>
  <input id="title" [(ngModel)]="activity.title" name="title">

  <label for="item-text">Label</label>
  <input id="item-text" [(ngModel)]="activity.itemText" name="item-text">

  <label for="item-css-class">Item CSS class</label>
  <input id="item-css-class" [(ngModel)]="activity.itemCssClass" name="item-css-class">

  <label for="css-class">CSS Class</label>
  <input id="css-class" [(ngModel)]="activity.cssClass" name="css-class">

  <label for="panel-width-delta">Panel width delta</label>
  <input id="panel-width-delta" [(ngModel)]="activity.panelWidthDelta" name="panel-width-delta">

  <label for="active-log">Active log</label>
  <textarea id="active-log" [ngModel]="activeLog$ | async" name="active-log" readonly></textarea>
</form>
