<section>
  <sci-form-field label="View ID">
    <span class="e2e-view-id">{{view.viewId}}</span>
  </sci-form-field>

  <sci-form-field label="App Instance" title="Unique identifier of this app instance">
    <span class="e2e-app-instance-id">{{appInstanceId}}</span>
  </sci-form-field>

  <sci-form-field label="Component Instance" title="Unique identifier of this component instance">
    <span class="e2e-component-instance-id">{{uuid}}</span>
  </sci-form-field>
</section>

<sci-accordion class="view-capability e2e-view-capability" variant="solid">
  <ng-template sciAccordionItem [panel]="panel_capability">
    <header>View Capability</header>
  </ng-template>
  <ng-template #panel_capability>
    <sci-viewport>
      <div class="e2e-view-capability capability">{{view.capability$ | async | json}}</div>
    </sci-viewport>
  </ng-template>
</sci-accordion>

<sci-accordion class="e2e-view-params" variant="solid" *ngIf="view.params$ | async | wbNullIfEmpty as params">
  <ng-template sciAccordionItem [panel]="panel_view_params">
    <header>View Params</header>
  </ng-template>
  <ng-template #panel_view_params>
    <sci-property [properties]="params" class="e2e-view-params"></sci-property>
  </ng-template>
</sci-accordion>

<sci-accordion variant="solid" class="e2e-route-params" *ngIf="route.params | async | wbNullIfEmpty as params">
  <ng-template sciAccordionItem [panel]="panel_route_params">
    <header>Route Params</header>
  </ng-template>
  <ng-template #panel_route_params>
    <sci-property [properties]="params" class="e2e-route-params"></sci-property>
  </ng-template>
</sci-accordion>

<sci-accordion class="e2e-route-query-params" variant="solid" *ngIf="route.queryParams | async | wbNullIfEmpty as params">
  <ng-template sciAccordionItem [panel]="panel_query_params">
    <header>Route Query Params</header>
  </ng-template>
  <ng-template #panel_query_params>
    <sci-property [properties]="params" class="e2e-route-query-params"></sci-property>
  </ng-template>
</sci-accordion>

<sci-accordion class="e2e-route-fragment" variant="solid" *ngIf="route.fragment | async | wbNullIfEmpty as fragment">
  <ng-template sciAccordionItem [panel]="panel_route_fragment">
    <header>Route Fragment</header>
  </ng-template>
  <ng-template #panel_route_fragment>
    <span class="e2e-route-fragment">{{fragment}}</span>
  </ng-template>
</sci-accordion>

<form autocomplete="off" [formGroup]="form">
  <header>View Properties</header>

  <sci-form-field label="Title">
    <input [formControlName]="TITLE" class="e2e-title">
  </sci-form-field>

  <sci-form-field label="Heading">
    <input [formControlName]="HEADING" class="e2e-heading">
  </sci-form-field>

  <sci-form-field label="Closable">
    <sci-checkbox [formControlName]="CLOSABLE" class="e2e-closable"></sci-checkbox>
  </sci-form-field>

  <sci-form-field label="Confirm Closing">
    <sci-checkbox [formControlName]="CONFIRM_CLOSING" class="e2e-confirm-closing"></sci-checkbox>
  </sci-form-field>

  <sci-form-field label="Dirty State">
    <div class="dirty-state-actions">
      <button (click)="onMarkDirty()" class="e2e-mark-dirty-noarg">Mark as dirty (no arg)</button>
      <button (click)="onMarkDirty(true)" class="e2e-mark-dirty">Mark as dirty</button>
      <button (click)="onMarkDirty(false)" class="e2e-mark-pristine">Mark as pristine</button>
    </div>
  </sci-form-field>
</form>

<sci-accordion class="e2e-view-actions" variant="solid">
  <ng-template sciAccordionItem [panel]="panel_view_actions">
    <header>View Actions</header>
  </ng-template>
  <ng-template #panel_view_actions>
    <button (click)="view.close()" class="e2e-close">Close</button>
  </ng-template>
</sci-accordion>

<ng-container [formGroup]="form">
  <sci-accordion class="self-navigation e2e-self-navigation" variant="solid" [formGroupName]="SELF_NAVIGATION">
    <ng-template sciAccordionItem [panel]="panel_self_navigation">
      <header>Self-Navigation</header>
    </ng-template>
    <ng-template #panel_self_navigation>
      <sci-form-field label="Params">
        <sci-params-enter [paramsFormArray]="$any(form.get([SELF_NAVIGATION, PARAMS]))" [addable]="true" [removable]="true" class="e2e-params"></sci-params-enter>
      </sci-form-field>

      <sci-form-field label="ParamsHandling">
        <select [formControlName]="PARAMS_HANDLING" class="e2e-param-handling">
          <option value="merge">merge</option>
          <option value="replace">replace</option>
          <option value="">default</option>
        </select>
      </sci-form-field>

      <sci-form-field label="Navigate per Param" title="Check to simulate the performing of bulk navigations">
        <sci-checkbox [formControlName]="NAVIGATE_PER_PARAM" class="e2e-navigate-per-param"></sci-checkbox>
      </sci-form-field>

      <button (click)="onSelfNavigate()" class="navigate-self e2e-navigate-self">Perform self-navigation</button>
    </ng-template>
  </sci-accordion>
</ng-container>
