:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  section {
    display: flex;
    flex-direction: column;
    gap: .5em;
    border: 1px solid var(--sci-color-P400);
    border-radius: 5px;
    padding: 1em;
  }

  header {
    font-weight: bold;
  }

  > sci-accordion.view-capability sci-viewport {
    max-height: 200px;

    div.capability {
      white-space: pre;
      font-family: monospace;
    }
  }

  > form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    > section > sci-form-field div.dirty-state-actions {
      display: flex;
      gap: .25em;
    }
  }
}
