<section>
  <sci-form-field label="View ID">
    <span class="e2e-view-id">{{view.id}}</span>
  </sci-form-field>

  <sci-form-field label="Part ID">
    <span class="e2e-part-id">{{view.partId$ | async}}</span>
  </sci-form-field>

  <sci-form-field label="App Instance" title="Unique identifier of this app instance">
    <span class="e2e-app-instance-id">{{appInstanceId}}</span>
  </sci-form-field>

  <sci-form-field label="Component Instance" title="Unique identifier of this component instance">
    <span class="e2e-component-instance-id">{{uuid}}</span>
  </sci-form-field>

  <sci-form-field label="Path">
    <span class="e2e-path">{{location.path()}}</span>
  </sci-form-field>

  <sci-form-field label="Focused">
    <input [ngModel]="focused()" disabled>
  </sci-form-field>
</section>

@if (view.capability$ | async; as capability) {
  <sci-accordion class="view-capability e2e-view-capability" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_capability">
      <header>View Capability</header>
    </ng-template>
    <ng-template #panel_capability>
      <sci-viewport>
        <div class="e2e-view-capability capability">{{capability | json}}</div>
      </sci-viewport>
    </ng-template>
  </sci-accordion>
}

@if (view.params$ | async | appNullIfEmpty; as params) {
  <sci-accordion class="e2e-view-params" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_view_params">
      <header>View Params</header>
    </ng-template>
    <ng-template #panel_view_params>
      <sci-key-value [object]="params | appAppendParamDataType" class="e2e-view-params"/>
    </ng-template>
  </sci-accordion>
}

@if (route.params | async | appNullIfEmpty; as params) {
  <sci-accordion variant="solid" class="e2e-route-params">
    <ng-template sciAccordionItem [panel]="panel_route_params">
      <header>Route Params</header>
    </ng-template>
    <ng-template #panel_route_params>
      <sci-key-value [object]="params" class="e2e-route-params"/>
    </ng-template>
  </sci-accordion>
}

@if (route.queryParams | async | appNullIfEmpty; as params) {
  <sci-accordion class="e2e-route-query-params" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_query_params">
      <header>Route Query Params</header>
    </ng-template>
    <ng-template #panel_query_params>
      <sci-key-value [object]="params" class="e2e-route-query-params"/>
    </ng-template>
  </sci-accordion>
}

@if (route.fragment | async | appNullIfEmpty; as fragment) {
  <sci-accordion class="e2e-route-fragment" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_route_fragment">
      <header>Route Fragment</header>
    </ng-template>
    <ng-template #panel_route_fragment>
      <span class="e2e-route-fragment">{{fragment}}</span>
    </ng-template>
  </sci-accordion>
}

<form autocomplete="off" [formGroup]="form">
  <section>
    <header>View Properties</header>

    <sci-form-field label="Title">
      <input [formControl]="form.controls.title" class="e2e-title">
    </sci-form-field>

    <sci-form-field label="Heading">
      <input [formControl]="form.controls.heading" class="e2e-heading">
    </sci-form-field>

    <sci-form-field label="Closable">
      <sci-checkbox [formControl]="form.controls.closable" class="e2e-closable"/>
    </sci-form-field>

    <sci-form-field label="Confirm Closing">
      <sci-checkbox [formControl]="form.controls.confirmClosing" class="e2e-confirm-closing"/>
    </sci-form-field>

    <sci-form-field label="Dirty State">
      <div class="dirty-state-actions">
        <button (click)="onMarkDirty()" class="e2e-mark-dirty-noarg">Mark as dirty (no arg)</button>
        <button (click)="onMarkDirty(true)" class="e2e-mark-dirty">Mark as dirty</button>
        <button (click)="onMarkDirty(false)" class="e2e-mark-pristine">Mark as pristine</button>
      </div>
    </sci-form-field>
  </section>

  <sci-accordion class="e2e-view-methods" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_view_methods">
      <header>View Methods</header>
    </ng-template>
    <ng-template #panel_view_methods>
      <button (click)="view.close()" class="e2e-close">Close</button>
    </ng-template>
  </sci-accordion>

  <sci-accordion class="self-navigation e2e-self-navigation" variant="solid" [formGroup]="form.controls.selfNavigation">
    <ng-template sciAccordionItem [panel]="panel_self_navigation">
      <header>Self-Navigation</header>
    </ng-template>
    <ng-template #panel_self_navigation>
      <sci-form-field label="Params">
        <sci-key-value-field [keyValueFormArray]="form.controls.selfNavigation.controls.params" [addable]="true" [removable]="true" class="e2e-params"/>
      </sci-form-field>

      <sci-form-field label="ParamsHandling">
        <select [formControl]="form.controls.selfNavigation.controls.paramsHandling" class="e2e-param-handling">
          <option value="merge">merge</option>
          <option value="replace">replace</option>
          <option value="">default</option>
        </select>
      </sci-form-field>

      <sci-form-field label="Navigate per Param" title="Check to simulate the performing of bulk navigations">
        <sci-checkbox [formControl]="form.controls.selfNavigation.controls.navigatePerParam" class="e2e-navigate-per-param"/>
      </sci-form-field>

      <button (click)="onSelfNavigate()" class="navigate-self e2e-navigate-self">Perform self-navigation</button>
    </ng-template>
  </sci-accordion>
</form>
