<!-- Group header -->
@if (group(); as group) {
  @if (group.collapsible) {
    <button class="group-header" (click)="onGroupToggle()" (mouseenter)="onMenuItemMouseEnter(null)">
      <!-- TODO [menu] use SCION icon -->
      <sci-icon [icon]="isGroupExpanded() ? 'keyboard_arrow_down' : 'chevron_right'"/>
      <span class="label">{{group.label}}</span>
    </button>
  } @else if (group.label) {
    <header class="group-header">{{group.label}}</header>
  }
}

@let filter = this.filter();
@if (isGroupExpanded()) {
  <!-- Filter field -->
  @if (filter) {
    <div class="filter">
      <sci-icon icon="scion.search"/>
      @let message = filter.placeholder?.() ?? '%scion.components.menu.type_to_filter.action';
      <sci-menu-filter (textChange)="onFilterChange($event)" [placeholder]="(message | sciText)()"/>
    </div>
    <hr>
  }

  <!-- Menu items -->
  @if (type() === 'menu' && sizeInput()?.maxHeight) {
    <sci-viewport>
      <ng-container *ngTemplateOutlet="menu_items"/>
    </sci-viewport>
  } @else {
    <ng-container *ngTemplateOutlet="menu_items"/>
  }

  <ng-template #menu_items>
    @for (menuItem of menuItemsFiltered(); track $index) {
      @let disabled = this.disabled() || menuItem.disabled?.() || false;

      @switch (menuItem.type) {
        @case ('menu-item') {
          <button (mouseenter)="onMenuItemMouseEnter(null)"
                  [attr.disabled]="disabled || null"
                  [attr.title]="menuItem.tooltip?.()"
                  [class.checked]="menuItem.checked?.()"
                  [class]="menuItem.cssClass" class="menu-item"
                  [sciAttributes]="menuItem.attributes"
                  (click)="onSelect(menuItem)">
            @if (hasGlyphArea()) {
              @if (menuItem.checked !== undefined) {
                <!-- TODO [menu] use SCION icon -->
                <sci-icon [icon]="menuItem.checked() ? 'check' : ''"/>
              } @else if (menuItem.iconLigature) {
                <sci-icon [icon]="menuItem.iconLigature()"/>
              } @else if (menuItem.iconComponent) {
                <span class="icon">
                  <ng-container *sciComponentOutlet="menuItem.iconComponent"/>
                </span>
              } @else {
                <span class="icon"></span>
              }
            }

            <div class="content">
              @if (menuItem.labelText) {
                <span class="label">{{menuItem.labelText()}}</span>
              } @else if (menuItem.labelComponent) {
                <span class="label">
                  <ng-container *sciComponentOutlet="menuItem.labelComponent"/>
                </span>
              }

              @let actions = menuItem.actions;
              @let hasActionToolbar = !disabled && actions?.length;

              <!-- Display accelerator only if no actions toolbar. -->
              @if (menuItem.accelerator?.length && !hasActionToolbar) {
                <span class="accelerator">{{menuItem.accelerator | sciFormatAccelerator}}</span>
              }

              @if (hasActionToolbar) {
                <sci-toolbar-group [menuItems]="actions!"
                                   [viewContainerRef]="popoverAnchor()"
                                   (menuOpen)="onActionToolbarMenuOpen($event)"
                                   (click)="$event.stopPropagation()"
                                   sciToolbarState
                                   class="actions"/>
              }
            </div>
          </button>
        }
        @case ('menu') {
          <button [attr.disabled]="disabled || null"
                  [attr.title]="menuItem.tooltip?.()"
                  [class.active]="activeSubMenuItem()?.menu === menuItem"
                  [class]="menuItem.cssClass" class="menu-item"
                  (mouseenter)="onMenuItemMouseEnter({menu: menuItem, element: element})"
                  #element>
            @if (hasGlyphArea()) {
              @if (menuItem.iconLigature) {
                <sci-icon [icon]="menuItem.iconLigature()"/>
              } @else if (menuItem.iconComponent) {
                <span class="icon">
                  <ng-container *sciComponentOutlet="menuItem.iconComponent"/>
                </span>
              } @else {
                <span class="icon"></span>
              }
            }
            <div class="content">
              @if (menuItem.labelText) {
                <span class="label">{{menuItem.labelText()}}</span>
              } @else if (menuItem.labelComponent) {
                <span class="label">
                  <ng-container *sciComponentOutlet="menuItem.labelComponent"/>
                </span>
              }
              <!-- TODO [menu] use SCION icon -->
              <sci-icon icon="arrow_right"/>
            </div>
          </button>
        }
        @case ('group') {
          <sci-menu-group [group]="menuItem"
                          [glyphArea]="hasGlyphArea()"
                          [disabled]="disabled"
                          [class]="menuItem.cssClass"/>
        }
      }
    } @empty {
      @if (filter || menuItems() === NULL_MENU_CONTRIBUTION) {
        @let message = filter?.notFoundText?.() ?? '%scion.components.menu.no_items.message';
        <div class="message no-items">{{(message | sciText)()}}</div>
      }
    }
  </ng-template>

  <!-- Anchor where to insert popover -->
  <ng-container #popover_anchor/>
}
