@import 'ɵtoolkit-widget-theme';

:host {
  display: flex;
  flex-direction: column;

  > form {
    flex: none;
    display: flex;
    align-items: center;
    margin-bottom: .25em;

    > input.outlet-name {
      flex: auto;
    }

    > button {
      flex: none;
      margin-left: .25em;
    }
  }

  > sci-router-outlet {
    flex: auto;
    border: 1px solid accentColor(.25);
    border-radius: 3px;
  }

  > div.app-router-outlet-panel {
    flex: none;
  }
}
