<form autocomplete="off" [formGroup]="form">
  <sci-form-field label="Type *">
    <input [formControlName]="TYPE" class="e2e-capability-type">
  </sci-form-field>

  <sci-form-field label="Qualifier">
    <sci-params-enter [paramsFormArray]="form.get(QUALIFIER)" [addable]="true" [removable]="true" class="e2e-capability-qualifier"></sci-params-enter>
  </sci-form-field>

  <sci-form-field label="Private *">
    <sci-checkbox [formControlName]="PRIVATE" class="e2e-private"></sci-checkbox>
  </sci-form-field>
</form>

<button type="button" (click)="onCapabilityRegister()" [disabled]="form.invalid" class="e2e-register-capability">Register capability</button>

<sci-list class="capabilities e2e-capabilities">
  <ng-container *ngFor="let capability of capabilities$ | async">
    <ng-template sciListItem [actions]="remove_action">
      <section class="capability">
        <sci-qualifier-chip-list [qualifier]="capability.qualifier" [type]="capability.type"></sci-qualifier-chip-list>
        <span class="visibility e2e-visibility">{{capability.private ? 'PRIVATE' : 'PUBLIC'}}</span>
      </section>
    </ng-template>

    <ng-template #remove_action>
      <button class="material-icons e2e-unregister" title="Unregister capability" (click)="onCapabilityUnregister(capability)">remove</button>
    </ng-template>
  </ng-container>
</sci-list>
