:host {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  > section {
    display: flex;
    flex-direction: column;
    gap: .5em;

    > header {
      font-weight: bold;
      margin-bottom: .25em;
    }
  }
}
