<section>
  <h2>Info</h2>
  <form autocomplete="off">
    <label>View ID:</label><span>{{view.viewId}}</span>
    <label>Part ID:</label><span>{{view.part.partId}}</span>
  </form>
</section>

<section>
  <h2>Properties</h2>
  <form autocomplete="off">
    <sci-form-field label="Title">
      <input [(ngModel)]="view.title" name="title">
    </sci-form-field>
    <sci-form-field label="Heading">
      <input [(ngModel)]="view.heading" name="heading">
    </sci-form-field>
    <sci-form-field label="Dirty">
      <sci-checkbox [(ngModel)]="view.dirty" name="dirty"></sci-checkbox>
    </sci-form-field>
    <sci-form-field label="Closable">
      <sci-checkbox [(ngModel)]="view.closable" name="closable"></sci-checkbox>
    </sci-form-field>
    <sci-form-field label="Blocked">
      <sci-checkbox [(ngModel)]="view.blocked" name="blocked"></sci-checkbox>
    </sci-form-field>
    <sci-form-field label="Active log">
      <textarea [ngModel]="activeLog$ | async" name="active-log" readonly></textarea>
    </sci-form-field>
  </form>
</section>

<section class="actions">
  <h2>Actions</h2>
  <button id="close" (click)="view.close()">Close</button>
</section>

<section>
  <h2>Miscellaneous</h2>
  <form autocomplete="off">
    <label for="text">Text</label>
    <input id="text">
  </form>
</section>
