<form [formGroup]="form" autocomplete="off">
  <section>
    <sci-form-field label="ID">
      <input [formControl]="form.controls.id" class="e2e-id">
    </sci-form-field>
    <sci-form-field label="Transient">
      <sci-checkbox [formControl]="form.controls.transient" class="e2e-transient"/>
    </sci-form-field>
    <sci-form-field label="Data">
      <sci-key-value-field [keyValueFormArray]="form.controls.data" [addable]="true" [removable]="true" class="e2e-data"/>
    </sci-form-field>
  </section>

  <section>
    <header>Parts</header>
    <app-add-parts [formControl]="form.controls.parts" [partProposals]="partProposals()" [requiresInitialPart]="true"/>
  </section>

  <section>
    <header>Docked Parts</header>
    <app-add-docked-parts [formControl]="form.controls.dockedParts"/>
  </section>

  <section>
    <header>Views</header>
    <app-add-views [formControl]="form.controls.views" [partProposals]="partProposals()"/>
  </section>

  <section>
    <header>Part Navigations</header>
    <app-navigate-parts [formControl]="form.controls.partNavigations" [partProposals]="partProposals()"/>
  </section>

  <section>
    <header>View Navigations</header>
    <app-navigate-views [formControl]="form.controls.viewNavigations" [viewProposals]="viewProposals()"/>
  </section>

  <section>
    <header>Active Parts</header>
    <app-multi-value-input [formControl]="form.controls.activeParts" [placeholder]="'part.1 part.2'" class="e2e-active-parts"/>
  </section>

  <section>
    <header>Active Views</header>
    <app-multi-value-input [formControl]="form.controls.activeViews" [placeholder]="'view.1 view.2'" class="e2e-active-views"/>
  </section>

  <button (click)="onRegister()" [disabled]="form.invalid" class="e2e-register" sci-primary>Register</button>
</form>

@if (registerError === false) {
  <output class="register-success e2e-register-success">Success</output>
}

@if (registerError) {
  <output class="register-error e2e-register-error">{{registerError}}</output>
}
