<form autocomplete="off" [formGroup]="form">
  <sci-form-field label="View Count">
    <input [formControl]="form.controls.viewCount" type="number" class="e2e-view-count">
  </sci-form-field>

  <sci-form-field label="CSS Class(es)">
    <app-css-class [formControl]="form.controls.cssClass"/>
  </sci-form-field>
</form>

<button (click)="onNavigate()" [disabled]="form.invalid" class="e2e-navigate">Navigate</button>
<button (click)="onNavigateAwait()" [disabled]="form.invalid" class="e2e-navigate-await">Navigate (with await)</button>
