<form [formGroup]="form">
  <sci-form-field label="Path">
    <input [formControl]="form.controls.path" class="e2e-path">
  </sci-form-field>

  <sci-form-field label="Title">
    <input [formControl]="form.controls.title" class="e2e-title">
  </sci-form-field>

  <sci-form-field label="Icon">
    <input [formControl]="form.controls.icon" class="e2e-icon">
  </sci-form-field>

  <sci-form-field label="Label">
    <input [formControl]="form.controls.label" class="e2e-label">
  </sci-form-field>

  <sci-form-field label="Tooltip">
    <input [formControl]="form.controls.tooltip" class="e2e-tooltip">
  </sci-form-field>

  <sci-form-field label="Views">
    @if (form.controls.views.controls.length) {
      <section class="views e2e-views">
        @for (viewFormGroup of form.controls.views.controls; track $index) {
          <!-- Qualifier -->
          <div class="legend qualifier">
            <app-record [formControl]="viewFormGroup.controls.qualifier" class="e2e-qualifier legend qualifier"/>
          </div>
          <!-- Params -->
          <div class="legend params">
            <app-record [formControl]="viewFormGroup.controls.params" class="e2e-params legend params"/>
          </div>
          <!-- Active -->
          <div class="active legend">
            <sci-checkbox [formControl]="viewFormGroup.controls.active" class="e2e-activate-view legend active"/>
          </div>
          <!-- CSS class -->
          <app-multi-value-input [formControl]="viewFormGroup.controls.cssClass" [placeholder]="'class-1 class-2'" class="legend css-class e2e-class"/>
          <!-- Remove button -->
          <button (click)="onRemoveView($index)" title="Remove View" sciMaterialIcon>clear</button>
        }
        <button class="e2e-add-view add-view" (click)="onAddView()">Add View</button>
      </section>
    } @else {
      <button class="e2e-add-view add-view" (click)="onAddView()">Add View</button>
    }
  </sci-form-field>

  <sci-form-field label="CSS Class(es)">
    <app-multi-value-input [formControl]="form.controls.cssClass" [placeholder]="'class-1 class-2'" class="e2e-class"/>
  </sci-form-field>
</form>
