@use '@scion/components.internal/design' as sci-design;
@use '../../common/fieldset.mixin';

:host {
  display: grid;

  > form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    > section.views.fieldset::after {
      content: 'Views'; // do not include fieldset mixin to reduce file size
    }

    > sci-form-field {

      section.views {
        display: grid;
        grid-template-columns:
        1fr // Qualifier
        1fr // Params
        .75fr // CSS class(es)
        auto // Active
        min-content; // Remove View
        align-items: start;
        gap: 1em;

        > div.qualifier.legend::after {
          content: 'Qualifier'; // do not include legend mixin to reduce file size
        }

        > div.params.legend::after {
          content: 'Params'; // do not include legend mixin to reduce file size
        }

        > div.active.legend::after {
          content: 'Active'; // do not include legend mixin to reduce file size
          left: 0;
          top: -.25em;
        }

        > div.active {
          display: inline-grid;
          align-self: stretch;
          width: 3em;
          place-content: center;
        }

        > app-multi-value-input.css-class.legend::after {
          content: 'CSS Class(es)'; // do not include legend mixin to reduce file size
        }

        > button.add-view {
          grid-column: 1/-2;
        }
      }
    }
  }

  // include legend mixin once to reduce file size
  .legend {
    @include fieldset.legend(null);
  }

  input, select {
    @include sci-design.style-input-field();
    height: 1.25em;
  }
}
