:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  > form {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  > output.close-action {
    border: 1px solid var(--sci-color-positive);
    background-color: var(--sci-color-background-positive);
    color: var(--sci-color-positive);
    border-radius: var(--sci-corner);
    padding: 1em;
    font-family: monospace;
  }

  > output.open-error {
    border: 1px solid var(--sci-color-negative);
    background-color: var(--sci-color-background-negative);
    color: var(--sci-color-negative);
    border-radius: var(--sci-corner);
    padding: 1em;
    font-family: monospace;
  }
}
