<form [formGroup]="form">
  <sci-form-field label="Parts">
    <div class="parts">
      <span>Part ID</span>
      <span>RelativeTo</span>
      <span>Align</span>
      <span>Ratio</span>
      <span class="checkbox">Activate</span>

      <div class="actions">
        <!-- add button -->
        <button (click)="onAddPart()" class="e2e-add material-icons" type="button" title="Add part">add</button>
        <!-- remove button -->
        <button (click)="onClearParts()" class="e2e-clear material-icons" type="button" title="Remove all parts">clear</button>
      </div>

      <ng-container *ngFor="let partsGroup of form.controls.parts.controls; index as i;">
        <!-- id -->
        <input [formControl]="partsGroup.controls.id" [class]="'e2e-part-id'" list="ids">
        <!-- relativeTo -->
        <input [formControl]="partsGroup.controls.relativeTo" [class]="'e2e-part-relative-to'" list="parts">
        <!-- align -->
        <select [formControl]="partsGroup.controls.align" [class]="'e2e-part-align'">
          <option value="left">left</option>
          <option value="right">right</option>
          <option value="top">top</option>
          <option value="bottom">bottom</option>
        </select>
        <!-- ratio -->
        <input [formControl]="partsGroup.controls.ratio" type="number" [class]="'e2e-part-ratio'">
        <!-- activate -->
        <sci-checkbox [formControl]="partsGroup.controls.activate" [class]="'e2e-part-activate'"></sci-checkbox>
        <!-- 'remove' button -->
        <button class="material-icons e2e-remove" type="button" (click)="onRemovePart(i)" title="Remove part">remove</button>
      </ng-container>
    </div>
  </sci-form-field>
</form>

<datalist id="ids">
  <option [value]="MAIN_AREA">{{MAIN_AREA}}</option>
</datalist>

<datalist id="parts">
  <option *ngFor="let part of form.controls.parts.controls" [value]="part.controls.id.value">{{part.controls.id.value}}</option>
</datalist>
