<form [formGroup]="form" autocomplete="off">
  <section>
    <sci-form-field label="Path">
      <input [formControl]="form.controls.path" class="e2e-path">
    </sci-form-field>

    <sci-form-field label="Component">
      <input [formControl]="form.controls.component" class="e2e-component" list="componentRefs">
      <datalist id="componentRefs">
        <option [value]="componentRef.key" *ngFor="let componentRef of componentRefs | keyvalue">{{componentRef.key}}</option>
      </datalist>
    </sci-form-field>

    <sci-form-field label="Outlet">
      <input [formControl]="form.controls.outlet" class="e2e-outlet">
    </sci-form-field>
  </section>

  <section [formGroup]="form.controls.routeData" class="e2e-route-data">
    <header>Route Data</header>

    <sci-form-field label="Title">
      <input [formControl]="form.controls.routeData.controls.title" class="e2e-title">
    </sci-form-field>

    <sci-form-field label="CSS Class(es)">
      <input [formControl]="form.controls.routeData.controls.cssClass" class="e2e-css-class" placeholder="Separate multiple CSS classes by space">
    </sci-form-field>
  </section>

  <button (click)="onRegister()" [disabled]="form.invalid" class="e2e-register">
    Register
  </button>
</form>
