<!-- radio button for option items -->
<span *ngIf="optionStyle" class="option material-icons">
  {{active ? 'radio_button_checked' : 'radio_button_unchecked'}}
</span>

<!-- item -->
<div class="item e2e-item">
  <ng-container *ngTemplateOutlet="listItem.template"></ng-container>
</div>

<!-- actions -->
<ul class="actions e2e-actions" *ngIf="listItem.actionTemplates.length" (click)="$event.stopPropagation()">
  <li *ngFor="let actionTemplate of listItem.actionTemplates" class="e2e-action">
    <ng-container *ngTemplateOutlet="actionTemplate"></ng-container>
  </li>
</ul>
