:host {
  display: grid;
  grid-row-gap: 1em;

  > sci-form-field section.input {
    border: 1px solid var(--sci-color-P400);
    border-radius: 5px;
    padding: 1em;
    max-height: 200px;

    > sci-viewport {
      white-space: pre;
      font-family: monospace;
      font-size: smaller;
    }
  }
}
