@use '@scion/components.internal/design' as sci-design;

:host {
  display: flex;
  flex-direction: column;
  padding: 1em;

  > sci-viewport {
    flex: auto;

    > form {
      display: flex;
      flex-direction: column;
      gap: 1em;

      > section {
        display: flex;
        flex-direction: column;
        gap: .5em;
        border: 1px solid var(--sci-color-border);
        border-radius: var(--sci-corner);
        padding: 1em;

        > header {
          margin-bottom: 1em;
          font-weight: bold;
        }
      }

      > sci-accordion {
        header {
          font-weight: bold;
        }

        &.return-value input {
          @include sci-design.style-input-field();
        }
      }
    }
  }

  > div.buttons {
    flex: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .25em;
    margin-top: 1em;
  }
}
