@import 'common';

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: app-padding();

  > section {
    border: 1px solid accentColor(.25);
    border-radius: 5px;
    padding: 1em;
    font-size: .9em;

    > h2 {
      font-size: 1em;
      font-weight: bold;
      margin-top: 0;
    }
  }

  > sci-accordion {
    grid-column: 1/3;

    header {
      user-select: none;
    }
  }
}
