<form autocomplete="off" [formGroup]="form">
  <sci-form-field label="Qualifier">
    <sci-key-value-field [keyValueFormArray]="form.controls.qualifier" [addable]="true" [removable]="true" class="e2e-qualifier"/>
  </sci-form-field>

  <sci-form-field label="Navigation Count">
    <input [formControl]="form.controls.navigationCount" type="number" class="e2e-navigation-count">
  </sci-form-field>

  <sci-form-field label="Target">
    <input [formControl]="form.controls.target" class="e2e-target">
  </sci-form-field>

  <sci-form-field label="CSS Class(es)">
    <app-multi-value-input [formControl]="form.controls.cssClass" [placeholder]="'class-1 class-2'" class="e2e-class"/>
  </sci-form-field>
</form>

<button (click)="onNavigate()" [disabled]="form.invalid" class="e2e-navigate">Navigate</button>
<button (click)="onNavigateAwait()" [disabled]="form.invalid" class="e2e-navigate-await">Navigate (with await)</button>
