@use '@scion/components.internal' as sci-ɵcomponents;

:host {
  display: grid;
  position: absolute;
  inset: 0;

  router-outlet {
    position: absolute; // take router outlet out of the document flow
  }

  > section.metadata {
    position: absolute;
    display: flex;
    justify-self: end;
    padding: .25em;

    > span.chip.has-focus {
      @include sci-ɵcomponents.theme-chip(var(--sci-color-primary-darker), var(--sci-color-background), var(--sci-color-P900));
    }

    > span.chip.app-symbolic-name {
      @include sci-ɵcomponents.theme-chip(var(--app-color), var(--app-color), var(--sci-color-background));
    }
  }

  > span.workbench-context-note {
    text-align: center;
    padding: 2em;
  }
}
