@use '@scion/components.internal/design' as sci-design;

:host {
  display: grid;
  position: absolute;
  inset: 0;

  router-outlet {
    position: absolute; // out of document flow
  }

  > span.workbench-context-note {
    text-align: center;
    padding: 2em;
  }
}
