<sci-tabbar class="e2e-messaging">
  <ng-template sciTab label="Register Capability" cssClass="e2e-register-capability">
    <app-register-capability-page/>
  </ng-template>
  <ng-template sciTab label="Register Intention" cssClass="e2e-register-intention">
    <app-register-intention-page/>
  </ng-template>
  <ng-template sciTab label="Unregister Capability" cssClass="e2e-unregister-capability">
    <app-unregister-capability-page/>
  </ng-template>
  <ng-template sciTab label="Publish Message" cssClass="e2e-publish-message">
    <app-publish-message-page/>
  </ng-template>
</sci-tabbar>
