<form [formGroup]="form">
  <span>Part ID</span>
  <span>Path</span>
  <span>Hint</span>
  <span>Data</span>
  <span>State</span>
  <span>CSS Class(es)</span>
  <button (click)="onAddNavigation()" class="e2e-add" title="Add navigation" sciMaterialIcon>add</button>

  @for (navigationFormGroup of form.controls.navigations.controls; track $index) {
    <!-- ID -->
    <input [formControl]="navigationFormGroup.controls.id" class="e2e-part-id" [attr.list]="partList">
    <!-- Commands -->
    <app-router-commands [formControl]="navigationFormGroup.controls.commands"/>
    <!-- Hint -->
    <input [formControl]="navigationFormGroup.controls.extras.controls.hint" class="e2e-hint">
    <!-- Data -->
    <app-record [formControl]="navigationFormGroup.controls.extras.controls.data" class="e2e-data"/>
    <!-- State -->
    <app-record [formControl]="navigationFormGroup.controls.extras.controls.state" class="e2e-state"/>
    <!-- CSS class -->
    <app-multi-value-input [formControl]="navigationFormGroup.controls.extras.controls.cssClass" [placeholder]="'class-1 class-2'" class="e2e-class"/>
    <!-- Remove button -->
    <button class="e2e-remove" (click)="onRemoveNavigation($index)" title="Remove navigation" sciMaterialIcon>remove</button>
  }
</form>

<datalist [attr.id]="partList">
  @for (part of partProposals(); track part) {
    <option [value]="part">{{part}}</option>
  }
</datalist>
