@use '@scion/components.internal/design' as sci-design;

:host {
  display: grid;

  > form {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(4, 1fr) auto;
    gap: .5em .75em;
    align-items: center;

    > input {
      @include sci-design.style-input-field();
      min-width: 0;
    }
  }
}
