// TODO [Angular 22] remove this file and build targets `workbench-testing-app:build-basehref-webpack` and `workbench-testing-app:serve-basehref-webpack` when `@angular-devkit/build-angular:browser` builder is deprecated
@use '@scion/workbench' with (
  $icon-font: (
    directory: '^fonts'
  )
);
@use './styles';
