@use '@scion/workbench';
@use '@scion/components.internal/design' as sci-design;
@use 'app/focus-highlight';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:wght@300..400');

html {
  font-size: 14px; // defines 1rem as 14px
}

body {
  font-family: Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--sci-color-text);
  background-color: var(--sci-color-background-primary);
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  @include sci-design.style-link();
}

button[class*="material-icons"], button[class*="material-symbols"] {
  @include sci-design.style-mat-icon-button();
}

button:not([class*="material-icons"]):not([class*="material-symbols"]) {
  @include sci-design.style-button();
}

:root {
  --workbench-client-testing-app1-color: rgb(0, 49, 83);
  --workbench-client-testing-app2-color: rgb(0, 112, 187);
  --devtools-app-color: rgb(72, 72, 72);
}
