<form [formGroup]="form">
  <section>
    <sci-form-field label="Component">
      <select [formControl]="form.controls.component" class="e2e-component">
        <option value="notification-page">NotificationPageComponent</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    @if (!isUseComponent()) {
      <sci-form-field label="Content">
        <input [formControl]="form.controls.content" class="e2e-content">
      </sci-form-field>
    }

    @if (isUseComponent()) {
      <sci-form-field label="Component Input">
        <input [formControl]="form.controls.componentInput" class="e2e-component-input">
      </sci-form-field>
    }
  </section>

  <section>
    <sci-form-field label="Title">
      <input [formControl]="form.controls.title" class="e2e-title">
    </sci-form-field>

    <sci-form-field label="Severity">
      <select [formControl]="form.controls.severity" class="e2e-severity">
        <option value="info">info</option>
        <option value="warn">warn</option>
        <option value="error">error</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Duration">
      <input [formControl]="form.controls.duration" [attr.list]="durationList" class="e2e-duration">
      <datalist [attr.id]="durationList">
        <option value="short">short</option>
        <option value="medium">medium</option>
        <option value="long">long</option>
        <option value="infinite">infinite</option>
        <option value="">default</option>
      </datalist>
    </sci-form-field>

    <sci-form-field label="CSS Class(es)">
      <app-css-class [formControl]="form.controls.cssClass"/>
    </sci-form-field>
  </section>

  <section>
    <sci-form-field label="Group">
      <input [formControl]="form.controls.group" class="e2e-group">
    </sci-form-field>

    <sci-form-field label="Input Reducer">
      <sci-checkbox [formControl]="form.controls.useGroupInputReducer" class="e2e-use-group-input-reducer"/>
    </sci-form-field>
  </section>
</form>

<button (click)="onNotificationShow()" class="e2e-show" [disabled]="form.invalid" sci-primary>
  Show notification
</button>

@if (notificationOpenError) {
  <output class="notification-open-error e2e-notification-open-error">
    {{notificationOpenError}}
  </output>
}
