@use './start-page.mixin';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 2em;

  > img.banner {
    flex: none;
    height: 35px;
    align-self: center;
    margin-bottom: 2em;
  }

  > span.about {
    flex: none;
    white-space: pre-line;
    align-self: center;
    text-align: center;
    line-height: 1.5;
    font-size: 1.1em;
    margin-bottom: 4em;
  }

  > sci-tabbar {
    flex: auto;

    section.tiles {
      display: grid;
      grid-template-columns: repeat(auto-fit, 200px);
      grid-template-rows: max-content;
      grid-auto-rows: 200px;
      gap: 1em;

      > sci-filter-field {
        grid-column: 1/-1;
      }

      > button {
        all: unset;
        border-radius: var(--sci-corner);
        padding: 1em;
        display: inline-flex;
        place-content: center;
        flex-direction: column;
        gap: .5em;
        color: var(--sci-color-accent-inverse);
        font-size: 24px;
        text-align: center;
        user-select: none;
        @include start-page.tile-background-color(var(--sci-color-accent));

        > span.description {
          font-size: .5em;
        }

        &.microfrontend.devtools {
          @include start-page.tile-background-color(var(--devtools-app-color));
        }

        &.microfrontend.workbench-host-app {
          @include start-page.tile-background-color(var(--workbench-host-app-color));
        }

        &.microfrontend.workbench-client-testing-app1 {
          @include start-page.tile-background-color(var(--workbench-client-testing-app1-color));
        }

        &.microfrontend.workbench-client-testing-app2 {
          @include start-page.tile-background-color(var(--workbench-client-testing-app2-color));
        }
      }
    }
  }
}
