<ng-container [ngSwitch]="communication.channel">
  <span *ngSwitchCase="'email'" class="icon far fa-envelope"></span>
  <span *ngSwitchCase="'letter'" class="icon fas fa-envelope"></span>
  <span *ngSwitchCase="'phone'" class="icon fas fa-phone"></span>
  <span *ngSwitchCase="'sms'" class="icon fas fa-sms"></span>
  <span *ngSwitchCase="'twitter'" class="icon fab fa-twitter-square"></span>
  <span *ngSwitchCase="'facebook'" class="icon fab fa-facebook-square"></span>
</ng-container>
<span class="subject">{{communication.subject}}</span>
<span class="date">{{communication.date | date:'d. MMM yyyy'}}</span>
