/**
 * Design tokens specific to the SCION Workbench.
 */
$tokens: (
  --sci-workbench-view-background-color: var(--sci-workbench-part-background-color),
  --sci-workbench-view-peripheral-background-color: var(--sci-workbench-part-peripheral-background-color),
  --sci-workbench-part-background-color: var(--sci-color-background-primary),
  --sci-workbench-part-peripheral-background-color: color-mix(in srgb, var(--sci-color-gray-100) 60%, var(--sci-static-color-white)),
  --sci-workbench-part-bar-padding-top: .25rem,
  --sci-workbench-part-bar-padding-inline: .5rem,
  --sci-workbench-part-bar-background-color: var(--sci-color-background-secondary),
  --sci-workbench-part-bar-divider-color: var(--sci-color-border),
  --sci-workbench-part-bar-actions-padding-inline: 0,
  --sci-workbench-part-bar-actions-gap: .5em,
  --sci-workbench-part-bar-border-bottom-width: 1px,
  --sci-workbench-part-divider-color: var(--sci-color-border),
  --sci-workbench-part-divider-color-hover: var(--sci-workbench-part-divider-color),
  --sci-workbench-part-divider-size: 1px,
  --sci-workbench-part-divider-size-hover: 9px,
  --sci-workbench-part-divider-touch-target-size: 5px,
  --sci-workbench-part-divider-opacity-active: .25,
  --sci-workbench-part-divider-opacity-hover: .125,
  --sci-workbench-part-dropzone-background-color: color-mix(in srgb, var(--sci-color-gray-900) 10%, transparent),
  --sci-workbench-part-dropzone-border-style: none,
  --sci-workbench-part-dropzone-border-color: unset,
  --sci-workbench-part-dropzone-border-radius: unset,
  --sci-workbench-part-peripheral-bar-background-color: var(--sci-color-background-secondary),
  --sci-workbench-part-active-tab-text-color-active: var(--sci-color-accent),
  --sci-workbench-part-hidden-tab-count-size: x-small,
  --sci-workbench-tab-cursor: var(--sci-workbench-button-cursor),
  --sci-workbench-tab-height: 2.25rem,
  --sci-workbench-tab-min-width: 5rem,
  --sci-workbench-tab-max-width: 15rem,
  --sci-workbench-tab-text-color: var(--sci-color-text),
  --sci-workbench-tab-text-color-active: var(--sci-color-text),
  --sci-workbench-tab-border-color: var(--sci-color-border),
  --sci-workbench-tab-border-radius: var(--sci-corner-small),
  --sci-workbench-tab-border-width: 1px,
  --sci-workbench-tab-border-top-width: var(--sci-workbench-tab-border-width),
  --sci-workbench-tab-padding-inline: .75em,
  --sci-workbench-tab-padding-inline-hover: .5em,
  --sci-workbench-tab-padding-block-hover: .2em,
  --sci-workbench-tab-background-color-hover: var(--sci-workbench-button-background-color-hover), // use `unset` to remove hover effect
  --sci-workbench-tab-font-family: inherit,
  --sci-workbench-tab-font-weight: 400,
  --sci-workbench-tab-font-size: 1rem,
  --sci-workbench-tab-heading-font-family: inherit,
  --sci-workbench-tab-heading-font-weight: 300,
  --sci-workbench-tab-heading-font-size: .9em,
  --sci-workbench-tab-drag-border-color: var(--sci-color-accent),
  --sci-workbench-tab-drag-text-color: var(--sci-workbench-part-active-tab-text-color-active),
  --sci-workbench-tab-drag-border-color-disabled: var(--sci-color-gray-600),
  --sci-workbench-tab-drag-text-color-disabled: var(--sci-color-gray-600),
  --sci-workbench-notification-width: 350px,
  --sci-workbench-notification-severity-indicator-size: 6px,
  --sci-workbench-messagebox-max-width: 400px,
  --sci-workbench-messagebox-severity-indicator-size: 6px,
  --sci-workbench-messagebox-padding: 1.25em,
  --sci-workbench-messagebox-title-align: var(--sci-workbench-dialog-title-align),
  --sci-workbench-messagebox-title-font-family: var(--sci-workbench-dialog-title-font-family),
  --sci-workbench-messagebox-title-font-weight: bold,
  --sci-workbench-messagebox-title-font-size: 1em,
  --sci-workbench-messagebox-text-align: start,
  --sci-workbench-messagebox-action-background-color-hover: var(--sci-workbench-button-background-color-hover),
  --sci-workbench-messagebox-action-cursor: var(--sci-workbench-button-cursor),
  --sci-workbench-dialog-padding: .75em,
  --sci-workbench-dialog-header-height: 2.75rem,
  --sci-workbench-dialog-header-background-color: var(--sci-color-background-elevation),
  --sci-workbench-dialog-title-font-family: inherit,
  --sci-workbench-dialog-title-font-weight: normal,
  --sci-workbench-dialog-title-font-size: 1.1rem,
  --sci-workbench-dialog-title-align: center,
  --sci-workbench-button-cursor: default,
  --sci-workbench-button-background-color-hover: color-mix(in srgb, var(--sci-color-gray-200) 95%, var(--sci-static-color-white)),
  --sci-workbench-button-background-color-active: var(--sci-color-gray-300),
  --sci-workbench-button-outline-width-focus: 2px,
  --sci-workbench-contextmenu-width: 18rem,
);
