/**
 * Provides styles for the workbench view.
 */
@mixin install-global-styles() {
  .wb-view-tab-drag-image {
    display: grid;
    position: fixed;
    user-select: none;
    pointer-events: none;
    container-type: size;
    container-name: viewtab;
  }
}
