/**
 * Design tokens specific to the SCION Workbench.
 */
$tokens: (
  --sci-workbench-view-background-color: var(--sci-color-background-primary),
  --sci-workbench-view-peripheral-background-color: var(--sci-workbench-view-background-color),
  --sci-workbench-part-bar-padding-top: .25rem,
  --sci-workbench-part-bar-padding-inline: .1rem,
  --sci-workbench-part-bar-background-color: var(--sci-color-background-secondary),
  --sci-workbench-part-bar-divider-color: var(--sci-color-border),
  --sci-workbench-part-bar-actions-padding-inline: .25rem,
  --sci-workbench-part-divider-color: var(--sci-color-border),
  --sci-workbench-part-divider-color-hover: var(--sci-workbench-sashbox-splitter-background-color),
  --sci-workbench-part-divider-size: 1px,
  --sci-workbench-part-divider-size-hover: 9px,
  --sci-workbench-part-divider-touch-target-size: 5px,
  --sci-workbench-part-divider-opacity-active: .25,
  --sci-workbench-part-divider-opacity-hover: .125,
  --sci-workbench-part-dropzone-background-color: color-mix(in srgb, var(--sci-color-gray-900) 10%, transparent),
  --sci-workbench-part-dropzone-border-style: none,
  --sci-workbench-part-dropzone-border-color: none,
  --sci-workbench-part-dropzone-border-radius: none,
  --sci-workbench-part-peripheral-bar-background-color: color-mix(in srgb, var(--sci-color-gray-200) 50%, transparent),
  --sci-workbench-part-active-tab-active-text-color: var(--sci-color-accent),
  --sci-workbench-part-hidden-tab-count-size: x-small,
  --sci-workbench-tab-height: 2.5rem,
  --sci-workbench-tab-max-width: 15rem,
  --sci-workbench-tab-text-color: var(--sci-color-text),
  --sci-workbench-tab-border-color: var(--sci-color-border),
  --sci-workbench-tab-border-radius: var(--sci-corner-small),
  --sci-workbench-tab-padding-inline: .725em,
  --sci-workbench-tab-hover-background-color: none,
  --sci-workbench-tab-drag-border-color: var(--sci-color-accent),
  --sci-workbench-tab-active-text-color: var(--sci-color-text),
  --sci-workbench-notification-width: 350px,
  --sci-workbench-notification-severity-indicator-size: 6px,
  --sci-workbench-messagebox-max-width: 400px,
  --sci-workbench-messagebox-severity-indicator-size: 6px,
  --sci-workbench-contextmenu-width: 18rem,
);
