/**
 * Design tokens specific to the SCION Workbench.
 */
$tokens: (
  --sci-workbench-view-background-color: var(--sci-workbench-part-background-color),
  --sci-workbench-view-peripheral-background-color: var(--sci-workbench-part-peripheral-background-color),
  --sci-workbench-part-background-color: var(--sci-color-background-primary),
  --sci-workbench-part-peripheral-background-color: var(--sci-color-gray-75),
  --sci-workbench-part-bar-padding-top: .25rem,
  --sci-workbench-part-bar-padding-inline: .1rem,
  --sci-workbench-part-bar-background-color: var(--sci-color-background-secondary),
  --sci-workbench-part-bar-divider-color: var(--sci-color-border),
  --sci-workbench-part-bar-actions-padding-inline: .25rem,
  --sci-workbench-part-bar-actions-gap: .5em,
  --sci-workbench-part-divider-color: var(--sci-color-border),
  --sci-workbench-part-divider-color-hover: var(--sci-workbench-sashbox-splitter-background-color),
  --sci-workbench-part-divider-size: 1px,
  --sci-workbench-part-divider-size-hover: 9px,
  --sci-workbench-part-divider-touch-target-size: 5px,
  --sci-workbench-part-divider-opacity-active: .25,
  --sci-workbench-part-divider-opacity-hover: .125,
  --sci-workbench-part-dropzone-background-color: color-mix(in srgb, var(--sci-color-gray-900) 10%, transparent),
  --sci-workbench-part-dropzone-border-style: none,
  --sci-workbench-part-dropzone-border-color: none,
  --sci-workbench-part-dropzone-border-radius: none,
  --sci-workbench-part-peripheral-bar-background-color: var(--sci-color-gray-100),
  --sci-workbench-part-active-tab-active-text-color: var(--sci-color-accent),
  --sci-workbench-part-hidden-tab-count-size: x-small,
  --sci-workbench-tab-height: 2.5rem,
  --sci-workbench-tab-min-width: 5rem,
  --sci-workbench-tab-max-width: 15rem,
  --sci-workbench-tab-text-color: var(--sci-color-text),
  --sci-workbench-tab-border-color: var(--sci-color-border),
  --sci-workbench-tab-border-radius: var(--sci-corner-small),
  --sci-workbench-tab-padding-inline: .725em,
  --sci-workbench-tab-hover-background-color: none,
  --sci-workbench-tab-drag-border-color: var(--sci-color-accent),
  --sci-workbench-tab-drag-text-color: var(--sci-workbench-part-active-tab-active-text-color),
  --sci-workbench-tab-drag-border-color-disabled: var(--sci-color-gray-600),
  --sci-workbench-tab-drag-text-color-disabled: var(--sci-color-gray-600),
  --sci-workbench-tab-active-text-color: var(--sci-color-text),
  --sci-workbench-notification-width: 350px,
  --sci-workbench-notification-severity-indicator-size: 6px,
  --sci-workbench-messagebox-max-width: 400px,
  --sci-workbench-messagebox-severity-indicator-size: 6px,
  --sci-workbench-messagebox-padding: 1.25em,
  --sci-workbench-messagebox-title-align: var(--sci-workbench-dialog-title-align),
  --sci-workbench-messagebox-title-font-family: var(--sci-workbench-dialog-title-font-family),
  --sci-workbench-messagebox-title-font-weight: bold,
  --sci-workbench-messagebox-title-font-size: 1em,
  --sci-workbench-messagebox-text-align: start,
  --sci-workbench-dialog-padding: .75em,
  --sci-workbench-dialog-header-height: 2.75rem,
  --sci-workbench-dialog-header-background-color: var(--sci-color-background-elevation),
  --sci-workbench-dialog-title-font-family: inherit,
  --sci-workbench-dialog-title-font-weight: normal,
  --sci-workbench-dialog-title-font-size: 1.1rem,
  --sci-workbench-dialog-title-align: center,
  --sci-workbench-contextmenu-width: 18rem,
  --sci-workbench-button-background-color-hover: var(--sci-color-gray-200),
  --sci-workbench-button-background-color-active: var(--sci-color-gray-300),
  --sci-throbber-color: var(--sci-color-accent),
);
