:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  > header {
    flex: none
  }

  > sci-viewport {
    flex: 1 1 0;

    &::part(content) {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
}
