:host {
  > form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    div.navigate-views {
      display: grid;
      grid-template-columns: 5em 1fr auto auto auto;
      gap: .5em .75em;
      align-items: center;
    }
  }
}
