@import 'theme/scrollbar';

:host {
  --grid-template-columns: auto; // single column
  --grid-template-rows: unset; // unset because 'grid-auto-rows' is set
  --grid-auto-rows: auto;
  --grid-auto-columns: unset;
  --gap: 0 0;

  display: block;
  position: relative; // positioned anchor for viewport and scrollbars
  overflow: hidden;
  outline: none;
  @include hide-scrollbars-when-inactive();

  > div.viewport {
    // absolutely positioned by `sciScrollable`
    display: grid;
    outline: none; // tabindex set to -1
    // use momentum-based scrolling so that the viewport client continues to scroll for a while after finishing the scroll gesture
    // and removing the finger from the touchscreen.
    -webkit-overflow-scrolling: touch;

    > div.viewport-client {
      display: grid; // part of API
      grid-template-columns: var(--grid-template-columns); // part of API
      grid-template-rows: var(--grid-template-rows); // part of API
      grid-auto-rows: var(--grid-auto-rows); // part of API
      grid-auto-columns: var(--grid-auto-columns); // part of API
      gap: var(--gap); // part of API
    }
  }

  > sci-scrollbar {
    @include scrollbar();
  }
}
