@import 'ɵtoolkit-widget-theme';

@mixin badge($color) {
  font-weight: bold;
  background-color: rgba(red($color), green($color), blue($color), .25);
  border: 1px solid rgba(red($color), green($color), blue($color), 1);
  color: primaryColor();
  border-radius: 5px;
  padding: .25em 1.5em;
  user-select: none;
}

:host {
  display: flex;
  flex-direction: column;
  padding: 1em;

  > header {
    flex: none;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5em;

    > *:not(:first-child) {
      margin-left: .25em;
    }

    > span.page-title {
      flex: auto;
      font-size: 1.2rem;
      font-weight: bold;
    }

    > span.focus-within {
      flex: none;
      justify-self: end;
      @include badge(rgb(255, 150, 55));
    }

    > span.app-name {
      flex: none;
      justify-self: end;
      @include badge(primaryColor());
      cursor: pointer;
    }
  }

  > sci-viewport {
    flex: auto;

    router-outlet {
      position: absolute; // out of the document flow
    }
  }

  > app-console-panel {
    flex: none;
  }
}

