/**
 * Highlights glasspanes, only if the `data-highlight-glasspane` attribute is set on the HTML root element.
 */
:root[data-highlight-glasspane] {
  @layer app-highlight-glasspane {
    div.glasspane {
      background-color: #{light-dark}(rgb(0, 0, 0, .125), rgb(255, 255, 255, .125));
    }
  }
}
