<form [formGroup]="form" autocomplete="off">
  <section>
    <sci-form-field label="Content">
      <input [formControl]="form.controls.content" class="e2e-content">
    </sci-form-field>

    <sci-form-field label="Align">
      <select [formControl]="form.controls.align" class="e2e-align">
        <option value="">--</option>
        <option value="start">start</option>
        <option value="end">end</option>
      </select>
    </sci-form-field>

    <sci-form-field label="CSS Class(es)">
      <app-css-class [formControl]="form.controls.cssClass"/>
    </sci-form-field>
  </section>

  <section [formGroup]="form.controls.canMatch">
    <header>CanMatch</header>

    <sci-form-field label="View(s)">
      <input [formControl]="form.controls.canMatch.controls.view" class="e2e-view-id" [attr.list]="viewList" placeholder="Separate multiple views by space">
      <datalist [attr.id]="viewList">
        <option *ngFor="let view of workbenchService.views$ | async" [value]="view.id">{{view.id}}</option>
      </datalist>
    </sci-form-field>

    <sci-form-field label="Part(s)">
      <input [formControl]="form.controls.canMatch.controls.part" class="e2e-part-id" [attr.list]="partList" placeholder="Separate multiple parts by space">
      <datalist [attr.id]="partList">
        <option *ngFor="let part of workbenchService.parts$ | async" [value]="part.id">{{part.id}}</option>
      </datalist>
    </sci-form-field>

    <sci-form-field label="Grid">
      <input [formControl]="form.controls.canMatch.controls.grid" class="e2e-grid" [attr.list]="gridList">
      <datalist [attr.id]="gridList">
        <option value="">--</option>
        <option value="workbench">Workbench</option>
        <option value="mainArea">Main Area</option>
      </datalist>
    </sci-form-field>
  </section>

  <button (click)="onRegister()" [disabled]="form.invalid" class="e2e-register" sci-primary>
    Register
  </button>
</form>

<output class="register-success e2e-register-success" *ngIf="registerError === false">
  Success
</output>

<output class="register-error e2e-register-error" *ngIf="registerError">
  {{registerError}}
</output>
