@import 'common';

:host {
  display: flex;
  flex-direction: column;
  padding: app-padding();

  > form {
    flex: none;
    display: grid;
    grid-template-columns: minmax(80px, 120px) auto;
    grid-column-gap: 1em;
    grid-row-gap: .5em;
    grid-template-rows: auto;

    border: 1px solid accentColor(.25);
    border-radius: 5px;
    padding: 1em;
    @include grid-container-align-items(center);

    > nav.communications {
      grid-column: 1/3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > * {
        margin: 0.5em 0;
      }
    }
  }

  > header {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;

    > h2 {
      font-size: 1.1em;
    }
  }

  > sci-list.related-contacts {
    flex: auto;
  }
}
