<form [formGroup]="form" autocomplete="off">
  <label for="firstname">Firstname *</label>
  <input id="firstname" class="inline-editable" [formControlName]="FIRSTNAME">

  <label for="lastname">Lastname *</label>
  <input id="lastname" class="inline-editable" [formControlName]="LASTNAME">

  <label for="street">Street *</label>
  <input id="street" class="inline-editable" [formControlName]="STREET">

  <label for="city">City *</label>
  <input id="city" class="inline-editable" [formControlName]="CITY">

  <label for="email">Email</label>
  <input id="email" class="inline-editable" [formControlName]="EMAIL">

  <label for="phone">Phone</label>
  <input id="phone" class="inline-editable" [formControlName]="PHONE">

  <nav *ngIf="!!contact" class="communications">
    <a href="" (click)="onCommunicationAdd($event)" title="Add new communication">
      Add new communication
    </a>
    <a href="" (click)="onCommunicationsOpen($event)">
      Open communications
    </a>
  </nav>
</form>

<header>
  <h2>Related contacts</h2>
  <button class="material-icons" type="button" title="Add related contact" (click)="onRelatedContactAdd($event)">person_add</button>
</header>

<sci-list class="related-contacts" (filter)="onRelatedContactsFilter($event)" filterPosition="bottom">
  <ng-container *ngFor="let relatedContact of relatedContacts$ | async; trackBy: contactTrackByFn">
    <ng-template sciListItem [key]="contact.id" [actions]="remove_action">
      <a [wbRouterLink]="{'entity': 'contact', 'id': relatedContact.id}">
        {{relatedContact.firstname}} {{relatedContact.lastname}}, {{relatedContact.city}}
      </a>
    </ng-template>
    <ng-template #remove_action>
      <button class="material-icons" type="button" (click)="onRelatedContactRemove(relatedContact.id)">remove</button>
    </ng-template>
  </ng-container>
</sci-list>
