<wb-workbench>
  <wb-activity title="Activity for Testcase '1a90c8d31'"
               itemText="filter_1"
               itemCssClass="material-icons"
               [visible]="showActivities"
               routerLink="activity-1a90c8d31-1">
  </wb-activity>
  <wb-activity *ngIf="showActivities"
               title="Activity for Testcase '1a90c8d31'"
               itemText="filter_2"
               itemCssClass="material-icons"
               routerLink="activity-1a90c8d31-2">
  </wb-activity>
</wb-workbench>
