<form [formGroup]="form" autocomplete="off">
  <section class="e2e-view">
    <sci-form-field label="View ID">
      <input [formControl]="form.controls.viewId" class="e2e-view-id">
    </sci-form-field>
  </section>

  <section [formGroup]="form.controls.options" class="e2e-view-options">
    <header>Options</header>

    <sci-form-field label="Part ID">
      <input [formControl]="form.controls.options.controls.partId" class="e2e-part-id" list="parts">
      <datalist id="parts">
        <option *ngFor="let part of workbenchService.parts$ | async" [value]="part.id">{{part.id}}</option>
      </datalist>
    </sci-form-field>

    <sci-form-field label="Position">
      <input [formControl]="form.controls.options.controls.position" type="number" class="e2e-position">
    </sci-form-field>

    <sci-form-field label="Activate View">
      <sci-checkbox [formControl]="form.controls.options.controls.activateView" class="e2e-activate-view"></sci-checkbox>
    </sci-form-field>

    <sci-form-field label="Activate Part">
      <sci-checkbox [formControl]="form.controls.options.controls.activatePart" class="e2e-activate-part"></sci-checkbox>
    </sci-form-field>
  </section>

  <button (click)="onNavigate()" [disabled]="form.invalid" class="e2e-navigate">
    Navigate
  </button>
</form>

<output class="navigate-success e2e-navigate-success" *ngIf="navigateError === false">
  Success
</output>

<output class="navigate-error e2e-navigate-error" *ngIf="navigateError">
  {{navigateError}}
</output>
