<ng-container [formGroup]="form">
  <section>
    <sci-form-field label="Component">
      <select [formControlName]="POPUP_COMPONENT" class="e2e-popup-component">
        <option value="popup-page">PopupPageComponent</option>
        <option value="focus-test-page">FocusTestPageComponent</option>
        <option value="blank-test-page">BlankTestPageComponent</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Contextual View ID">
      <input [formControlName]="CONTEXTUAL_VIEW_ID" class="e2e-contextual-view-id" placeholder="Reference to the view to bind this popup to; can be <default>, <null>, or a view id">
    </sci-form-field>

    <sci-form-field label="Align">
      <select [formControlName]="ALIGN" class="e2e-align">
        <option value="east">east</option>
        <option value="west">west</option>
        <option value="north">north</option>
        <option value="south">south</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="CSS Class(es)">
      <input [formControlName]="CSS_CLASS" class="e2e-class" placeholder="Separate multiple CSS classes by space">
    </sci-form-field>
  </section>

  <sci-accordion class="anchor e2e-anchor" variant="solid" [formGroupName]="ANCHOR">
    <ng-template sciAccordionItem [panel]="panel_anchor">
      <header>Anchor</header>
    </ng-template>
    <ng-template #panel_anchor>
      <sci-form-field label="Position">
        <select [formControlName]="POSITION" class="e2e-position">
          <option value="element">Element</option>
          <option value="top-left">Coordinate (top-left)</option>
          <option value="top-right">Coordinate (top-right)</option>
          <option value="bottom-left">Coordinate (bottom-left)</option>
          <option value="bottom-right">Coordinate (bottom-right)</option>
        </select>
      </sci-form-field>
      <ng-container *ngIf="form.get([ANCHOR, POSITION]).value !== 'element'">
        <sci-form-field [label]="form.get([ANCHOR, POSITION]).value | wbPopupPositionLabel:'vertical'">
          <input [formControlName]="VERTICAL_POSITION" type="number" class="e2e-position-vertical">
        </sci-form-field>
        <sci-form-field [label]="form.get([ANCHOR, POSITION]).value | wbPopupPositionLabel:'horizontal'">
          <input [formControlName]="HORIZONTAL_POSITION" type="number" class="e2e-position-horizontal">
        </sci-form-field>
        <sci-form-field label="Width">
          <input [formControlName]="WIDTH" type="number" class="e2e-anchor-width">
        </sci-form-field>
        <sci-form-field label="Height">
          <input [formControlName]="HEIGHT" type="number" class="e2e-anchor-height">
        </sci-form-field>
      </ng-container>
    </ng-template>
  </sci-accordion>

  <sci-accordion class="e2e-input input" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_input">
      <header>Popup Component Input</header>
    </ng-template>
    <ng-template #panel_input>
      <input [formControlName]="INPUT" class="e2e-input" placeholder="Optional data to pass to the popup component">
    </ng-template>
  </sci-accordion>

  <sci-accordion class="e2e-close-strategy" variant="solid" [formGroupName]="CLOSE_STRATEGY">
    <ng-template sciAccordionItem [panel]="panel_close_strategy">
      <header>Close Strategy</header>
    </ng-template>
    <ng-template #panel_close_strategy>
      <sci-form-field label="onFocusLost">
        <sci-checkbox [formControlName]="ON_FOCUS_LOST" class="e2e-close-on-focus-lost"></sci-checkbox>
      </sci-form-field>

      <sci-form-field label="onEscape">
        <sci-checkbox [formControlName]="ON_ESCAPE" class="e2e-close-on-escape"></sci-checkbox>
      </sci-form-field>
    </ng-template>
  </sci-accordion>

  <sci-accordion class="e2e-preferred-overlay-size" variant="solid" [formGroupName]="SIZE">
    <ng-template sciAccordionItem [panel]="panel_preferred_overlay_size">
      <header>Preferred Overlay Size</header>
    </ng-template>
    <ng-template #panel_preferred_overlay_size>
      <sci-form-field label="Min Height">
        <input [formControlName]="MIN_HEIGHT" class="e2e-min-height">
      </sci-form-field>

      <sci-form-field label="Height">
        <input [formControlName]="HEIGHT" class="e2e-height">
      </sci-form-field>

      <sci-form-field label="Max Height">
        <input [formControlName]="MAX_HEIGHT" class="e2e-max-height">
      </sci-form-field>

      <sci-form-field label="Min Width">
        <input [formControlName]="MIN_WIDTH" class="e2e-min-width">
      </sci-form-field>

      <sci-form-field label="Width">
        <input [formControlName]="WIDTH" class="e2e-width">
      </sci-form-field>

      <sci-form-field label="Max Width">
        <input [formControlName]="MAX_WIDTH" class="e2e-max-width">
      </sci-form-field>
    </ng-template>
  </sci-accordion>
</ng-container>

<button (click)="onOpen()" [disabled]="form.invalid" class="open e2e-open" #open_button>
  Open popup
</button>

<output class="return-value e2e-return-value" *ngIf="returnValue">
  {{returnValue}}
</output>

<output class="popup-error e2e-popup-error" *ngIf="popupError">
  {{popupError}}
</output>
