@use '@scion/components.internal/design' as sci-design;

:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  > form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    > section {
      display: flex;
      flex-direction: column;
      gap: .5em;
      border: 1px solid var(--sci-color-border);
      border-radius: var(--sci-corner);
      padding: 1em;
    }

    > sci-accordion {
      header {
        font-weight: bold;
      }

      &.input input {
        @include sci-design.style-input-field();
      }
    }
  }

  > button.open {
    align-self: center;
  }

  > output.return-value {
    border: 1px solid var(--sci-color-positive);
    background-color: var(--sci-color-background-positive);
    color: var(--sci-color-positive);
    border-radius: var(--sci-corner);
    padding: 1em;
    font-family: monospace;
  }

  > output.popup-error {
    border: 1px solid var(--sci-color-negative);
    background-color: var(--sci-color-background-negative);
    color: var(--sci-color-negative);
    border-radius: var(--sci-corner);
    padding: 1em;
    font-family: monospace;
  }
}
