<form [formGroup]="form">
  <section>
    <sci-form-field label="Component">
      <select [formControl]="form.controls.popupComponent" class="e2e-popup-component">
        <option value="popup-page">PopupPageComponent</option>
        <option value="focus-test-page">FocusTestPageComponent</option>
        <option value="blank-test-page">BlankTestPageComponent</option>
        <option value="input-field-test-page">InputFieldTestPageComponent</option>
        <option value="size-test-page">SizeTestPageComponent</option>
        <option value="dialog-opener-page">DialogOpenerPageComponent</option>
        <option value="popup-opener-page">PopupOpenerPageComponent</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Context">
      <input [formControl]="form.controls.context" class="e2e-context" placeholder="Part ID, View ID, Dialog ID, Popup ID, or <null>" [attr.list]="nullList">
    </sci-form-field>

    <sci-form-field label="Align">
      <select [formControl]="form.controls.align" class="e2e-align">
        <option value="east">east</option>
        <option value="west">west</option>
        <option value="north">north</option>
        <option value="south">south</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="CSS Class(es)">
      <app-multi-value-input [formControl]="form.controls.cssClass" [placeholder]="'class-1 class-2'" class="e2e-class"/>
    </sci-form-field>
  </section>

  <sci-accordion class="anchor e2e-anchor" variant="solid" [formGroup]="form.controls.anchor">
    <ng-template sciAccordionItem [panel]="panel_anchor">
      <header>Anchor</header>
    </ng-template>
    <ng-template #panel_anchor>
      <sci-form-field label="Position">
        <select [formControl]="form.controls.anchor.controls.position" class="e2e-position">
          <option value="element">Element</option>
          <option value="top-left">Coordinate (top-left)</option>
          <option value="top-right">Coordinate (top-right)</option>
          <option value="bottom-left">Coordinate (bottom-left)</option>
          <option value="bottom-right">Coordinate (bottom-right)</option>
        </select>
      </sci-form-field>
      @if (form.controls.anchor.controls.position.value !== 'element') {
        <sci-form-field [label]="$any(form.controls.anchor.controls.position.value) | wbPopupPositionLabel:'vertical'">
          <input [formControl]="form.controls.anchor.controls.verticalPosition" type="number" class="e2e-position-vertical">
        </sci-form-field>
        <sci-form-field [label]="$any(form.controls.anchor.controls.position.value) | wbPopupPositionLabel:'horizontal'">
          <input [formControl]="form.controls.anchor.controls.horizontalPosition" type="number" class="e2e-position-horizontal">
        </sci-form-field>
        <sci-form-field label="Width">
          <input [formControl]="form.controls.anchor.controls.width" type="number" class="e2e-anchor-width">
        </sci-form-field>
        <sci-form-field label="Height">
          <input [formControl]="form.controls.anchor.controls.height" type="number" class="e2e-anchor-height">
        </sci-form-field>
      }
    </ng-template>
  </sci-accordion>

  <sci-accordion class="e2e-input input" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_input">
      <header>Popup Component Input</header>
    </ng-template>
    <ng-template #panel_input>
      <input [formControl]="form.controls.input" class="e2e-input" placeholder="Optional data to pass to the popup component">
    </ng-template>
  </sci-accordion>

  <sci-accordion class="e2e-close-strategy" variant="solid" [formGroup]="form.controls.closeStrategy">
    <ng-template sciAccordionItem [panel]="panel_close_strategy">
      <header>Close Strategy</header>
    </ng-template>
    <ng-template #panel_close_strategy>
      <sci-form-field label="onFocusLost">
        <sci-checkbox [formControl]="form.controls.closeStrategy.controls.onFocusLost" class="e2e-close-on-focus-lost"/>
      </sci-form-field>

      <sci-form-field label="onEscape">
        <sci-checkbox [formControl]="form.controls.closeStrategy.controls.onEscape" class="e2e-close-on-escape"/>
      </sci-form-field>
    </ng-template>
  </sci-accordion>

  <sci-accordion class="e2e-size" variant="solid" [formGroup]="form.controls.size">
    <ng-template sciAccordionItem [panel]="panel_size">
      <header>Size</header>
    </ng-template>
    <ng-template #panel_size>
      <sci-form-field label="Min Height">
        <input [formControl]="form.controls.size.controls.minHeight" class="e2e-min-height">
      </sci-form-field>

      <sci-form-field label="Height">
        <input [formControl]="form.controls.size.controls.height" class="e2e-height">
      </sci-form-field>

      <sci-form-field label="Max Height">
        <input [formControl]="form.controls.size.controls.maxHeight" class="e2e-max-height">
      </sci-form-field>

      <sci-form-field label="Min Width">
        <input [formControl]="form.controls.size.controls.minWidth" class="e2e-min-width">
      </sci-form-field>

      <sci-form-field label="Width">
        <input [formControl]="form.controls.size.controls.width" class="e2e-width">
      </sci-form-field>

      <sci-form-field label="Max Width">
        <input [formControl]="form.controls.size.controls.maxWidth" class="e2e-max-width">
      </sci-form-field>
    </ng-template>
  </sci-accordion>
</form>

<button (click)="onOpen()" [disabled]="form.invalid" class="open e2e-open" #open_button sci-primary>
  Open popup
</button>

@if (returnValue) {
  <output class="return-value e2e-return-value">
    {{returnValue}}
  </output>
}

@if (popupError) {
  <output class="popup-error e2e-popup-error">
    {{popupError}}
  </output>
}

<datalist [attr.id]="nullList">
  <option value="<null>"></option>
</datalist>
