<section class="params">
  <h2>URL Parameters</h2>
  <sci-property class="params e2e-url-params" [properties]="params$ | async"></sci-property>
</section>

<section class="query-params">
  <h2>URL Query Parameters</h2>
  <sci-property class="query-params e2e-url-query-params" [properties]="queryParams$ | async"></sci-property>
</section>

<sci-accordion>
  <!-- Activity Interaction -->
  <ng-template sciAccordionItem [panel]="activity_interaction_panel" [cssClass]="'e2e-activity-interaction-panel'">
    <header>Activity Interaction</header>
  </ng-template>

  <ng-template #activity_interaction_panel>
    <app-activity-interaction-panel></app-activity-interaction-panel>
  </ng-template>

  <!-- ViewOpenActivityAction -->
  <ng-template sciAccordionItem [panel]="add_view_open_activity_action" [cssClass]="'e2e-add-view-open-activity-action'">
    <header>Add `ViewOpenActivityAction`</header>
  </ng-template>

  <ng-template #add_view_open_activity_action>
    <app-view-open-activity-action-panel></app-view-open-activity-action-panel>
  </ng-template>

  <!-- PopupOpenActivityAction -->
  <ng-template sciAccordionItem [panel]="add_popup_open_activity_action" [cssClass]="'e2e-add-popup-open-activity-action'">
    <header>Add `PopupOpenActivityAction`</header>
  </ng-template>

  <ng-template #add_popup_open_activity_action>
    <app-popup-open-activity-action-panel></app-popup-open-activity-action-panel>
  </ng-template>

  <!-- Other activity actions -->
  <ng-template sciAccordionItem [panel]="activity_other_actions_panel" [cssClass]="'e2e-activity-actions-panel'">
    <header>Other activity actions</header>
  </ng-template>

  <ng-template #activity_other_actions_panel>
    <app-activity-actions-panel></app-activity-actions-panel>
  </ng-template>
</sci-accordion>
