<input placeholder="Path" [formControl]="$any(form.get(PATH))" class="e2e-path">
<sci-params-enter [title]="'Query parameters'" [paramsFormArray]="$any(form.get(QUERY_PARAMS))" [addable]="true" [removable]="true" class="e2e-query-params-panel"></sci-params-enter>
<sci-params-enter [title]="'Matrix parameters'" [paramsFormArray]="$any(form.get(MATRIX_PARAMS))" [addable]="true" [removable]="true" class="e2e-matrix-params-panel"></sci-params-enter>

<form autocomplete="off" [formGroup]="form">
  <label for="activateIfPresent">ActivateIfPresent</label>
  <input id="activateIfPresent" type="checkbox" [formControlName]="ACTIVATE_IF_PRESENT">

  <label for="closeIfPresent">CloseIfPresent</label>
  <input id="closeIfPresent" type="checkbox" [formControlName]="CLOSE_IF_PRESENT">

  <label for="target">Target</label>
  <select id="target" [formControlName]="TARGET">
    <option value="self">self</option>
    <option value="blank">blank</option>
  </select>

  <label for="insertionIndex">InsertionIndex</label>
  <input id="insertionIndex" [formControlName]="INSERTION_INDEX" list="insertionIndexHints">
  <datalist id="insertionIndexHints">
    <option value="start">
    <option value="end">
  </datalist>
</form>

<button (click)="onNavigate()" class="e2e-navigate">Navigate</button>
