:host {
  display: grid;

  > svg {
    border-bottom: .5em solid var(--sci-color-skeleton);
    border-left: .5em solid var(--sci-color-skeleton);
    padding-left: .5em;
    padding-bottom: .5em;

    > path {
      stroke-width: 1.5;
      stroke: var(--sci-color-skeleton);
      fill: transparent;
      vector-effect: non-scaling-stroke;
    }

    &.active > path {
      stroke: var(--sci-color-accent);
    }

    &:hover > path {
      stroke-width: 3;
    }
  }
}
