@for (menuItem of menuItems(); track $index) {
  @let disabled = this.disabled() || menuItem.disabled();

  @switch (menuItem.type) {
    @case ('menu-item') {
      <button [attr.disabled]="disabled || null"
              [class.checked]="menuItem.checked?.()"
              [class]="menuItem.cssClass" class="menu-item"
              (click)="menuItem.onSelect(this.context())"
              sciMenuItemState [menuItem]="menuItem" #sciMenuItemState="sciMenuItemState">
        @if (menuItem.icon?.()) {
          <span class="icon material-symbols-rounded" translate="no">{{menuItem.icon?.()}}</span>
        }
        @if (menuItem.label?.()) {
          <span class="label">
              @if (sciMenuItemState.labelText()) {
                {{sciMenuItemState.labelText()}}
              } @else if (sciMenuItemState.labelComponent()) {
                <ng-container *ngComponentOutlet="sciMenuItemState.labelComponent()!"/>
              }
            </span>
        }
      </button>
    }
    @case ('menu') {
      <button [attr.disabled]="disabled || null"
              [attr.data-menu-id]="menuItem.id"
              [attr.data-menu-name]="menuItem.name"
              [class.active]="activeSubMenuItem()?.menu === menuItem"
              [class.visual-menu-hint]="menuItem.icon?.() && !menuItem.label?.() && menuItem.visualMenuHint"
              [class]="menuItem.cssClass" class="menu-item submenu-item"
              (click)="onSubMenuClick({menu: menuItem, element: element})"
              sciMenuItemState [menuItem]="menuItem" #sciMenuItemState="sciMenuItemState"
              #element>
        @if (menuItem.icon?.()) {
          <span class="icon material-symbols-rounded" translate="no">{{menuItem.icon?.()}}</span>
        }
        @if (menuItem.label?.()) {
          <span class="label">
              @if (sciMenuItemState.labelText()) {
                {{sciMenuItemState.labelText()}}
              } @else if (sciMenuItemState.labelComponent()) {
                <ng-container *ngComponentOutlet="sciMenuItemState.labelComponent()!"/>
              }
            </span>
        }

        <!-- Add chevron for label menus -->
        @if (menuItem.label?.() && menuItem.visualMenuHint) {
          <span class="material-symbols-rounded" translate="no">keyboard_arrow_down</span>
        }
      </button>
    }
    @case ('group') {
      <sci-toolbar-group [name]="menuItem.name"
                         [context]="this.context()"
                         [disabled]="disabled"
                         [attr.data-group-id]="menuItem.id"
                         [attr.data-group-name]="menuItem.name"
                         [class]="menuItem.cssClass"/>
    }
  }
}
