$padding_menu_item: .125em .75em;

:host {
  --sci-icon-size: 18px;

  display: flex;
  align-items: stretch;
  gap: 2px;

  &[data-orientation="vertical"] {
    flex-direction: column;
  }

  // Add before separator
  > sci-toolbar-group:not(:first-child):has(:not(:scope > sci-toolbar-group:first-child)) {
    &::before {
      content: '';
      background-color: var(--sci-color-border);
      margin: 2px;
    }

    &[data-orientation="horizontal"]::before {
      width: 1px;
    }

    &[data-orientation="vertical"]::before {
      height: 1px;
    }
  }

  // Add after separator
  > sci-toolbar-group:not(:last-child):not(:has(+ sci-toolbar-group, + sci-menu)) { // + sci-menu to exclude opened submenu, which is rendered as the last child
    &::after {
      content: '';
      background-color: var(--sci-color-border);
      margin: 2px;
    }

    &[data-orientation="horizontal"]::before {
      width: 1px;
    }

    &[data-orientation="vertical"]::before {
      height: 1px;
    }
  }

  > button.menu-item {
    all: unset;
    display: inline-flex;
    gap: .3em;
    place-content: center;
    align-items: center;
    text-wrap: nowrap;
    padding: $padding_menu_item;
    border-radius: var(--sci-toolbar-toolbar-item-border-radius);
    background-color: var(--sci-toolbar-toolbar-item-background-color);
    color: var(--sci-toolbar-toolbar-item-text-color);
    user-select: none;
    overflow: hidden;
    cursor: var(--sci-workbench-button-cursor);
    border: 1px solid transparent; // unset to not flicker when toggling checkable menu item

    // Maintain 1:1 aspect ratio if no label
    &:not(:has(> span.label)) {
      padding: 1px; // minimal padding
      aspect-ratio: 1 / 1;
    }

    // Make icon components to have the same size as icons.
    > span.icon {
      display: inline-grid;
      place-content: center;
      height: var(--sci-icon-size);
      width: var(--sci-icon-size);
    }

    // Display visual marker to indicate menu.
    &.submenu-item.visual-menu-hint {
      position: relative;

      &::after {
        $size: 3px;
        box-sizing: border-box;
        content: "";
        position: absolute;
        width: $size;
        height: $size;
        border: $size solid transparent;
        border-right-color: var(--sci-color-text-subtle);
        border-bottom-color: var(--sci-color-text-subtle);
        bottom: calc(var(--sci-corner) / 4);
        right: calc(var(--sci-corner) / 4);
      }
    }

    &:disabled.submenu-item.visual-menu-hint::after {
      border-right-color: var(--sci-color-gray-500);
      border-bottom-color: var(--sci-color-gray-500);
    }

    &.checked:where(:not(:disabled)) {
      background-color: var(--sci-toolbar-toolbar-item-background-color-checked);
    }

    &.checked {
      border: 1px solid var(--sci-color-border);
    }

    &:hover:where(:not(:disabled)) {
      background-color: var(--sci-toolbar-toolbar-item-background-color-hover);
    }

    &:active:where(:not(:disabled)) {
      background-color: var(--sci-toolbar-toolbar-item-background-color-active);
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      outline: var(--sci-workbench-button-outline-width-focus) solid var(--sci-color-accent);
    }

    &:disabled {
      color: var(--sci-color-gray-500);
    }

    &.active {
      background-color: var(--sci-toolbar-toolbar-item-background-color-hover);
    }
  }
}
