@for (menuItem of menuItems(); track $index) {
  @let disabled = this.disabled() || menuItem.disabled?.() || false;

  @switch (menuItem.type) {
    @case ('menu-item') {
      @if (menuItem.control) {
        <ng-container *sciComponentOutlet="menuItem.control | sciToolbarControl:menuItem"/>
      } @else {
        <button [attr.disabled]="disabled || null"
                [attr.title]="menuItem.tooltip?.()"
                [class.checked]="menuItem.checked?.()"
                [class]="menuItem.cssClass" class="menu-item"
                [sciAttributes]="menuItem.attributes"
                (click)="onSelect(menuItem)">
          @if (menuItem.iconLigature) {
            <span class="icon material-symbols-rounded" translate="no">{{menuItem.iconLigature()}}</span>
          } @else if (menuItem.iconComponent) {
            <span class="icon">
              <ng-container *sciComponentOutlet="menuItem.iconComponent"/>
            </span>
          }

          @if (menuItem.labelText) {
            <span class="label">{{menuItem.labelText()}}</span>
          } @else if (menuItem.labelComponent) {
            <span class="label">
              <ng-container *sciComponentOutlet="menuItem.labelComponent"/>
            </span>
          }
        </button>
      }
    }
    @case ('menu') {
      @let hasLabel = menuItem.labelText || menuItem.labelComponent;
      @let hasIcon = menuItem.iconLigature || menuItem.iconComponent;
      <button [attr.disabled]="disabled || null"
              [attr.title]="menuItem.tooltip?.()"
              [class.active]="activeSubMenuItem()?.menu === menuItem"
              [class.visual-menu-hint]="hasIcon && !hasLabel && menuItem.visualMenuHint"
              [class]="menuItem.cssClass" class="menu-item submenu-item"
              (click)="onSubMenuClick({menu: menuItem, element: element})"
              #element>
        @if (menuItem.iconLigature) {
          <span class="icon material-symbols-rounded" translate="no">{{menuItem.iconLigature()}}</span>
        } @else if (menuItem.iconComponent) {
          <span class="icon">
            <ng-container *sciComponentOutlet="menuItem.iconComponent"/>
          </span>
        }

        @if (menuItem.labelText) {
          <span class="label">{{menuItem.labelText()}}</span>
        } @else if (menuItem.labelComponent) {
          <span class="label">
            <ng-container *sciComponentOutlet="menuItem.labelComponent"/>
          </span>
        }

        <!-- Add chevron for label menus -->
        @if (hasLabel && menuItem.visualMenuHint) {
          <span class="material-symbols-rounded" translate="no">keyboard_arrow_down</span>
        }
      </button>
    }
    @case ('group') {
      <sci-toolbar-group [menuItems]="menuItem.children"
                         [disabled]="disabled"
                         [viewContainerRef]="viewContainerRef()"
                         (menuOpen)="onChildGroupMenuOpen($event)"
                         [class]="menuItem.cssClass"/>
    }
  }
}
