@use '@scion/components.internal/design' as sci-design;

:host {
  --ɵapp-dialog-page-height: initial;
  --ɵapp-dialog-page-width: initial;

  display: flex;
  flex-direction: column;
  height: var(--ɵapp-dialog-page-height);
  width: var(--ɵapp-dialog-page-width);
  overflow: hidden; // crop overflow when changing minimum size in end-to-end test

  > form {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;

    > sci-accordion {
      header {
        font-weight: bold;
      }

      &.return-value input {
        @include sci-design.style-input-field();
      }
    }
  }

  > div.buttons {
    flex: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .25em;
    margin-top: 1em;
  }
}
