<form [formGroup]="form">
  <sci-form-field label="Title" direction="column">
    <input [formControl]="form.controls.title" class="e2e-title">
  </sci-form-field>

  <sci-form-field label="Instance ID" title="Unique identifier of this component instance">
    <input class="e2e-component-instance-id" [value]="uuid" disabled>
  </sci-form-field>

  <sci-form-field label="Input" *ngIf="input">
    <input class="e2e-input" [value]="input" disabled>
  </sci-form-field>

  <sci-accordion class="e2e-dialog-size" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_size">
      <header>Dialog Size</header>
    </ng-template>
    <ng-template #panel_size>
      <sci-form-field label="Min Height">
        <input [formControl]="form.controls.dialogSize.controls.minHeight" class="e2e-min-height">
      </sci-form-field>

      <sci-form-field label="Height">
        <input [formControl]="form.controls.dialogSize.controls.height" class="e2e-height">
      </sci-form-field>

      <sci-form-field label="Max Height">
        <input [formControl]="form.controls.dialogSize.controls.maxHeight" class="e2e-max-height">
      </sci-form-field>

      <sci-form-field label="Min Width">
        <input [formControl]="form.controls.dialogSize.controls.minWidth" class="e2e-min-width">
      </sci-form-field>

      <sci-form-field label="Width">
        <input [formControl]="form.controls.dialogSize.controls.width" class="e2e-width">
      </sci-form-field>

      <sci-form-field label="Max Width">
        <input [formControl]="form.controls.dialogSize.controls.maxWidth" class="e2e-max-width">
      </sci-form-field>
    </ng-template>
  </sci-accordion>

  <sci-accordion class="e2e-content-size" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_content_size">
      <header>Content Size</header>
    </ng-template>
    <ng-template #panel_content_size>
      <sci-form-field label="Height">
        <input [formControl]="form.controls.contentSize.controls.height" class="e2e-height">
      </sci-form-field>

      <sci-form-field label="Width">
        <input [formControl]="form.controls.contentSize.controls.width" class="e2e-width">
      </sci-form-field>
    </ng-template>
  </sci-accordion>

  <sci-accordion class="e2e-behavior" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_behavior">
      <header>Behavior</header>
    </ng-template>
    <ng-template #panel_behavior>
      <sci-form-field label="Closable">
        <sci-checkbox [formControl]="form.controls.behavior.controls.closable" class="e2e-closable"></sci-checkbox>
      </sci-form-field>

      <sci-form-field label="Resizable">
        <sci-checkbox [formControl]="form.controls.behavior.controls.resizable" class="e2e-resizable"></sci-checkbox>
      </sci-form-field>
    </ng-template>
  </sci-accordion>

  <sci-accordion class="e2e-styles" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_styles">
      <header>Styles</header>
    </ng-template>
    <ng-template #panel_styles>
      <sci-form-field label="Padding">
        <input [formControl]="form.controls.styles.controls.padding" class="e2e-padding">
      </sci-form-field>
    </ng-template>
  </sci-accordion>

  <sci-accordion class="return-value e2e-return-value" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_return_value">
      <header>Return Value</header>
    </ng-template>
    <ng-template #panel_return_value>
      <input class="e2e-return-value" [formControl]="form.controls.result" placeholder="Optional data to return to the dialog opener">
    </ng-template>
  </sci-accordion>
</form>

<div class="buttons">
  <button (click)="onClose()" class="e2e-close" sci-primary>Close</button>
  <button (click)="onCloseWithError()" class="e2e-close-with-error">Close (with error)</button>
</div>
