@use '@scion/components.internal/design' as sci-design;

:host {
  display: block;
  overflow: hidden; // crop overflow when changing minimum size in end-to-end test

  > form {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;

    > sci-accordion {
      header {
        font-weight: bold;
      }

      &.return-value input {
        @include sci-design.style-input-field();
      }
    }
  }
}

label {
  display: flex;
  align-items: center;
  gap: .5em;
}
