<sci-popup-shell [valid]="form.valid">
  <ng-template sciPopupShellTitle>New communication</ng-template>

  <ng-template sciPopupShellContent>
    <form [formGroup]="form" autocomplete="off">
      <label for="channel">Channel *</label>
      <select id="channel" [formControlName]="CHANNEL">
        <option value="email">Email</option>
        <option value="letter">Letter</option>
        <option value="phone">Phone</option>
        <option value="sms">Email</option>
        <option value="twitter">Twitter</option>
        <option value="facebook">Facebook</option>
      </select>

      <label for="date">Date *</label>
      <input id="date" type="date" [formControlName]="DATE">

      <label for="subject">Subject *</label>
      <input id="subject" [formControlName]="SUBJECT">

      <label for="message">Message *</label>
      <textarea id="message" [formControlName]="MESSAGE" (keydown.enter)="$event.stopPropagation();"></textarea>
    </form>
  </ng-template>

  <ng-template sciPopupShellButton (click)="onOk()">OK</ng-template>
</sci-popup-shell>
