<img src="/assets/scion-workbench-banner.png" alt="Welcome to SCION Workbench">
<h1>Welcome to SCION Workbench</h1>

<nav>
  <a [wbRouterLink]="['/view', { viewTitle: 'Tile view 1', viewCssClass: 'e2e-tile-view-1' }]" class="e2e-tile-view-1">Open view 1</a>
  <a [wbRouterLink]="['/view', { viewTitle: 'Tile view 2', viewCssClass: 'e2e-tile-view-2' }]" class="e2e-tile-view-2">Open view 2</a>
  <a [wbRouterLink]="['/view', { viewTitle: 'Tile view 3', viewCssClass: 'e2e-tile-view-3' }]" class="e2e-tile-view-3">Open view 3</a>
  <a [wbRouterLink]="['/view', { viewTitle: 'Tile view 4', viewCssClass: 'e2e-tile-view-4' }]" class="e2e-tile-view-4">Open view 4</a>
  <a [wbRouterLink]="['/view-4a3a8932']" class="e2e-tile-4a3a8932">Testcase '4a3a8932'</a>
  <a [wbRouterLink]="['/view-navigation']" class="e2e-view-navigation">View Navigation
    <small>Use to interact with workbench router</small>
  </a>
</nav>
