@import '../theming/Éµtoolkit-widget-theme';

:host {
  display: inline-flex;
  flex-direction: row;
  @include input-field(5px);
  padding: .25em .5em;

  > input#search {
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    flex: auto;
    width: 0; // allows the input to shrink past UA minimal width
  }

  > label.filter-icon {
    flex: none;
    user-select: none;
  }

  &:focus-within > label.filter-icon {
    color: primaryColor();
  }
}
