<sci-form-field label="Instance ID" title="Unique identifier of this component instance">
  <input class="e2e-component-instance-id" [value]="uuid" disabled>
</sci-form-field>

<sci-form-field label="Focused">
  <input [ngModel]="focused()" disabled>
</sci-form-field>

<sci-accordion class="e2e-content-size" variant="solid">
  <ng-template sciAccordionItem [panel]="panel_size">
    <header>Content Size</header>
  </ng-template>
  <ng-template #panel_size>
    <sci-form-field label="Height">
      <input [formControl]="form.controls.componentSize.controls.height" class="e2e-height">
    </sci-form-field>

    <sci-form-field label="Width">
      <input [formControl]="form.controls.componentSize.controls.width" class="e2e-width">
    </sci-form-field>

    <sci-form-field label="Report Size">
      <sci-checkbox [formControl]="form.controls.componentSize.controls.reportSize" class="e2e-report-size"/>
    </sci-form-field>

    <sci-form-field label="Position Absolute">
      <sci-checkbox [formControl]="form.controls.componentSize.controls.positionAbsolute"/>
    </sci-form-field>
  </ng-template>
</sci-accordion>

<sci-accordion class="message-box-capability e2e-message-box-capability" variant="solid">
  <ng-template sciAccordionItem [panel]="panel_capability">
    <header>Message Box Capability</header>
  </ng-template>
  <ng-template #panel_capability>
    <sci-viewport>
      <div class="capability e2e-message-box-capability">{{messageBox.capability | json}}</div>
    </sci-viewport>
  </ng-template>
</sci-accordion>

@if (messageBox.params | appNullIfEmpty; as params) {
  <sci-accordion class="e2e-message-box-params" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_message_box_params">
      <header>Message Box Params</header>
    </ng-template>
    <ng-template #panel_message_box_params>
      <sci-key-value [object]="params" class="e2e-message-box-params"/>
    </ng-template>
  </sci-accordion>
}

@if (route.params | async | appNullIfEmpty; as params) {
  <sci-accordion variant="solid" class="e2e-route-params">
    <ng-template sciAccordionItem [panel]="panel_route_params">
      <header>Route Params</header>
    </ng-template>
    <ng-template #panel_route_params>
      <sci-key-value [object]="params" class="e2e-route-params"/>
    </ng-template>
  </sci-accordion>
}

@if (route.queryParams | async | appNullIfEmpty; as params) {
  <sci-accordion variant="solid" class="e2e-route-query-params">
    <ng-template sciAccordionItem [panel]="panel_query_params">
      <header>Route Query Params</header>
    </ng-template>
    <ng-template #panel_query_params>
      <sci-key-value [object]="params" class="e2e-route-query-params"/>
    </ng-template>
  </sci-accordion>
}

@if (route.fragment | async | appNullIfEmpty; as fragment) {
  <sci-accordion class="e2e-route-fragment" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_route_fragment">
      <header>Route Fragment</header>
    </ng-template>
    <ng-template #panel_route_fragment>
      <span class="e2e-route-fragment">{{fragment}}</span>
    </ng-template>
  </sci-accordion>
}
