<form [formGroup]="form">
  <section>
    <sci-form-field label="Type">
      <select [formControl]="form.controls.type" class="e2e-type">
        <option [value]="WorkbenchCapabilities.Perspective">PERSPECTIVE</option>
        <option [value]="WorkbenchCapabilities.View">VIEW</option>
        <option [value]="WorkbenchCapabilities.Dialog">DIALOG</option>
        <option [value]="WorkbenchCapabilities.Popup">POPUP</option>
        <option [value]="WorkbenchCapabilities.MessageBox">MESSAGE BOX</option>
        <option [value]="WorkbenchCapabilities.Notification">NOTIFICATION</option>
        <option [value]="WorkbenchCapabilities.TextProvider">TEXT PROVIDER</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Qualifier">
      <sci-key-value-field [keyValueFormArray]="form.controls.qualifier" [addable]="true" [removable]="true" class="e2e-qualifier"/>
    </sci-form-field>
  </section>

  <button (click)="onRegister()" class="e2e-register" [disabled]="form.invalid" sci-primary>Register</button>

  @if (intentionId) {
    <output class="intention-id e2e-register-response">
      Intention ID: <span class="e2e-intention-id">{{intentionId}}</span>
    </output>
  }

  @if (registerError) {
    <output class="register-error e2e-register-error">
      {{registerError}}
    </output>
  }
</form>
