<form [formGroup]="form">
  <section>
    <sci-form-field label="Qualifier">
      <sci-key-value-field [keyValueFormArray]="form.controls.qualifier" [addable]="true" [removable]="true" class="e2e-qualifier"/>
    </sci-form-field>

    @if (isEmptyQualifier) {
      <sci-form-field label="Message">
        <input [formControl]="form.controls.message" class="e2e-message">
      </sci-form-field>
    } @else {
      <sci-form-field label="Params">
        <sci-key-value-field [keyValueFormArray]="form.controls.options.controls.params" [addable]="true" [removable]="true" class="e2e-params"/>
      </sci-form-field>
    }
  </section>

  <section>
    <sci-form-field label="Title">
      <input [formControl]="form.controls.options.controls.title" class="e2e-title">
    </sci-form-field>

    <sci-form-field label="Actions">
      <sci-key-value-field [keyValueFormArray]="form.controls.options.controls.actions" [addable]="true" [removable]="true" class="e2e-actions"/>
    </sci-form-field>

    <sci-form-field label="Severity">
      <select [formControl]="form.controls.options.controls.severity" class="e2e-severity">
        <option value="info">info</option>
        <option value="warn">warn</option>
        <option value="error">error</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Modality">
      <select [formControl]="form.controls.options.controls.modality" class="e2e-modality">
        <option value="application">application</option>
        <option value="view">view</option>
        <option value="">default</option>
      </select>
    </sci-form-field>

    <sci-form-field label="Contextual View ID">
      <input [formControl]="form.controls.options.controls.contextualViewId" class="e2e-contextual-view-id">
    </sci-form-field>

    <sci-form-field label="Content Selectable">
      <sci-checkbox [formControl]="form.controls.options.controls.contentSelectable" class="e2e-content-selectable"></sci-checkbox>
    </sci-form-field>

    <sci-form-field label="CSS Class(es)">
      <app-css-class [formControl]="form.controls.options.controls.cssClass"/>
    </sci-form-field>
  </section>
</form>

<button (click)="onMessageBoxOpen()" class="e2e-open" [disabled]="form.invalid" sci-primary>
  Open message box
</button>

@if (closeAction) {
  <output class="close-action e2e-close-action">
    {{closeAction}}
  </output>
}

@if (openError) {
  <output class="open-error e2e-open-error">
    {{openError}}
  </output>
}
