<sci-viewport class="content" cdkTrapFocus cdkTrapFocusAutoCapture>
  <sci-form-field label="Title" direction="column">
    <input [formControl]="form.controls.title" class="e2e-title">
  </sci-form-field>

  <sci-form-field label="Instance ID" title="Unique identifier of this component instance">
    <input class="e2e-component-instance-id" [value]="uuid" disabled>
  </sci-form-field>

  <sci-form-field label="Focused">
    <input [ngModel]="focused()" disabled>
  </sci-form-field>

  <sci-accordion class="e2e-component-size" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_size">
      <header>Component Size</header>
    </ng-template>
    <ng-template #panel_size>
      <sci-form-field label="Height">
        <input [formControl]="form.controls.componentSize.controls.height" class="e2e-height">
      </sci-form-field>

      <sci-form-field label="Width">
        <input [formControl]="form.controls.componentSize.controls.width" class="e2e-width">
      </sci-form-field>
    </ng-template>
  </sci-accordion>

  <sci-accordion class="dialog-capability e2e-dialog-capability" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_capability">
      <header>Dialog Capability</header>
    </ng-template>
    <ng-template #panel_capability>
      <sci-viewport>
        <div class="capability e2e-dialog-capability">{{dialog.capability | json}}</div>
      </sci-viewport>
    </ng-template>
  </sci-accordion>

  @if (dialog.params | appNullIfEmpty; as params) {
    <sci-accordion class="e2e-dialog-params" variant="solid">
      <ng-template sciAccordionItem [panel]="panel_dialog_params">
        <header>Dialog Params</header>
      </ng-template>
      <ng-template #panel_dialog_params>
        <sci-key-value [object]="params | appAppendDataType" class="e2e-dialog-params"/>
      </ng-template>
    </sci-accordion>
  }

  @if (route.params | async | appNullIfEmpty; as params) {
    <sci-accordion variant="solid" class="e2e-route-params">
      <ng-template sciAccordionItem [panel]="panel_route_params">
        <header>Route Params</header>
      </ng-template>
      <ng-template #panel_route_params>
        <sci-key-value [object]="params" class="e2e-route-params"/>
      </ng-template>
    </sci-accordion>
  }

  @if (route.queryParams | async | appNullIfEmpty; as params) {
    <sci-accordion variant="solid" class="e2e-route-query-params">
      <ng-template sciAccordionItem [panel]="panel_query_params">
        <header>Route Query Params</header>
      </ng-template>
      <ng-template #panel_query_params>
        <sci-key-value [object]="params" class="e2e-route-query-params"/>
      </ng-template>
    </sci-accordion>
  }

  @if (route.fragment | async | appNullIfEmpty; as fragment) {
    <sci-accordion class="e2e-route-fragment" variant="solid">
      <ng-template sciAccordionItem [panel]="panel_route_fragment">
        <header>Route Fragment</header>
      </ng-template>
      <ng-template #panel_route_fragment>
        <span class="e2e-route-fragment">{{fragment}}</span>
      </ng-template>
    </sci-accordion>
  }

  <sci-accordion class="return-value e2e-return-value" variant="solid">
    <ng-template sciAccordionItem [panel]="panel_return_value">
      <header>Return Value</header>
    </ng-template>
    <ng-template #panel_return_value>
      <input [formControl]="form.controls.result" class="e2e-return-value" placeholder="Optional data to return to the dialog opener">
    </ng-template>
  </sci-accordion>
</sci-viewport>

<footer>
  <label class="close-with-error">
    <sci-checkbox [formControl]="form.controls.closeWithError" class="e2e-close-with-error"/>
    Close with error
  </label>

  <button (click)="onClose()" class="e2e-close" sci-primary>Close</button>
</footer>
