<sci-accordion [variant]="'solid'">
  <!-- WorkbenchView#partId$ -->
  <ng-template sciAccordionItem [panel]="panel1" cssClass="e2e-workbench-view e2e-partid">
    <header>WorkbenchView#partId$</header>
  </ng-template>

  <ng-template #panel1>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.workbenchView.partId}"/>
  </ng-template>

  <!-- WorkbenchView#capability$ -->
  <ng-template sciAccordionItem [panel]="panel2" cssClass="e2e-workbench-view e2e-capability">
    <header>WorkbenchView#capability$</header>
  </ng-template>

  <ng-template #panel2>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.workbenchView.capability}"/>
  </ng-template>

  <!-- WorkbenchView#params$ -->
  <ng-template sciAccordionItem [panel]="panel3" cssClass="e2e-workbench-view e2e-params">
    <header>WorkbenchView#params$</header>
  </ng-template>

  <ng-template #panel3>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.workbenchView.params}"/>
  </ng-template>

  <!-- WorkbenchView#active$ -->
  <ng-template sciAccordionItem [panel]="panel4" cssClass="e2e-workbench-view e2e-active">
    <header>WorkbenchView#active$</header>
  </ng-template>

  <ng-template #panel4>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.workbenchView.active}"/>
  </ng-template>

  <!-- WorkbenchView#focused$ -->
  <ng-template sciAccordionItem [panel]="panel5" cssClass="e2e-workbench-view e2e-focused">
    <header>WorkbenchView#focused$</header>
  </ng-template>

  <ng-template #panel5>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.workbenchView.focused}"/>
  </ng-template>

  <!-- WorkbenchPart#active$ -->
  <ng-template sciAccordionItem [panel]="panel6" cssClass="e2e-workbench-part e2e-active">
    <header>WorkbenchPart#active$</header>
  </ng-template>

  <ng-template #panel6>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.workbenchPart.active}"/>
  </ng-template>

  <!-- WorkbenchPart#focused$ -->
  <ng-template sciAccordionItem [panel]="panel7" cssClass="e2e-workbench-part e2e-focused">
    <header>WorkbenchPart#focused$</header>
  </ng-template>

  <ng-template #panel7>
    <ng-container *ngTemplateOutlet="test_template; context: {$implicit: tests.workbenchPart.focused}"/>
  </ng-template>
</sci-accordion>

<ng-template #test_template let-test>
  <section class="panel">
    <div class="run-in-angular-checkbox">
      <sci-checkbox [(ngModel)]="test.runInAngular" class="e2e-run-inside-angular"/>
      <span>Subscribe in NgZone</span>
    </div>
    <button (click)="test.onTestClick()" class="e2e-subscribe">Subscribe</button>
    @for (emission of test.emissions; track emission) {
      <output class="zone e2e-emission" [attr.data-zone]="emission.insideAngular ? 'inside-angular' : 'outside-angular'">{{emission.label}}</output>
    }
  </section>
</ng-template>
