:host {
  display: grid;
  padding: 1em;

  > sci-accordion {
    header {
      font-weight: bold;
    }

    section.panel {
      display: flex;
      flex-direction: column;
      gap: .5em;

      > div.run-in-angular-checkbox {
        display: flex;
        gap: .75em;
        align-items: center;
        user-select: none;
      }

      > output.zone {
        padding: 1em;
        border-width: 1px;
        border-style: solid;
        text-align: center;

        &[data-zone="inside-angular"] {
          color: #004d00;
          background-color: #dff5df;
          border-color: #004d00;
        }

        &[data-zone="outside-angular"] {
          color: var(--sci-color-W900);
          background-color: var(--sci-color-W50);
          border-color: var(--sci-color-W900);
        }
      }
    }
  }
}
